<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>发布{{title}}</ion-title>
    <ion-buttons slot="end">
      <!--<ion-back-button></ion-back-button>-->
      <ion-button (click)="savefn(1)" [disabled]="!formdata.title || !content || issub || issave">
        <ion-icon name="paper-plane"></ion-icon>保存
      </ion-button>
      <ion-button (click)="sub(1)" [disabled]="!formdata.title || !content || issub || issave">
        <ion-icon name="paper-plane"></ion-icon>发表
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!iscontent">
    <div class="top-head">
      <img [src]="head" alt="" *ngIf="head" (click)="addfm()">
      <div *ngIf="!head" class="ts-box" (click)="addfm()">
        添加封面
      </div>
    </div>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="formdata.title" clearInput placeholder="添加标题"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formdata.destination" clearInput placeholder="目的地"></ion-input>
      </ion-item>
      <ion-item>
        <ion-datetime no-padding no-margin [(ngModel)]="formdata.outtime" placeholder="出发日期" display-format="YYYY.MM.DD" [doneText]="'确定'" [cancelText]="'取消'"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formdata.days" type="number" clearInput placeholder="出行天数"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formdata.money" clearInput type="number" placeholder="人均花费"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="formdata.tag" clearInput placeholder="添加标签"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea [(ngModel)]="formdata.des" rows="3" placeholder="一句话描述..."></ion-textarea>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="iscontent">
    <ckeditor [(ngModel)]="content" [config]="config" debounce="500">  </ckeditor>
  </div>
  <div class="keyboard-height" [ngStyle]="{height: keyboardH + 'px'}"></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="setContent()" [disabled]="issub">
        {{iscontent ? '标题' : '正文'}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="iscontent">
      <!--<ion-back-button></ion-back-button>-->
      <ion-button (click)="addimg()" [disabled]="issub">
        <ion-icon name="images"></ion-icon>插入图片
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
