<!--
 * @Author: wjy-mac
 * @Date: 2019-07-28 01:58:20
 * @LastEditors  : wjy-mac
 * @LastEditTime : 2019-12-24 14:46:30
 * @Description: file content
 -->
<ion-header [translucent]="true" mode="ios">
  <ion-toolbar mode="ios" [ngClass]="'show-' + toolbaropacity">
    <div class="search-bar">
      <div class="left" (click)="goBack()">
        <img src="/assets/backbg.svg" alt="">
      </div>
      <div class="center">
      </div>
      <div class="right">
        <div class="round" (click)="sharefn()"><ion-icon name="share"></ion-icon></div>
        <div class="round" (click)="toprightmore($event)"><ion-icon name="more" mode="ios"></ion-icon></div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" [fullscreen]="true" (ionScroll)="logScrolling($event)">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
       pullingIcon="arrow-dropdown"
       pullingText="Pull to refresh"
       refreshingSpinner="circles"
       refreshingText="更新中...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!productData" class="top">
    <ion-skeleton-text animated style="height: 260px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="height: 20px;" ></ion-skeleton-text>
    <ion-skeleton-text animated style="height: 20px;" ></ion-skeleton-text>
    <ion-skeleton-text animated style="margin-top: 10px; height: 44px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="height: 44px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="height: 60px;margin-top: 10px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="height: 60px;margin-top: 10px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="height: 200px;margin-top: 10px;"></ion-skeleton-text>
    <ion-row>
      <ion-col><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></ion-col>
      <ion-skeleton-text animated style="height: 20px;margin-top: 10px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="margin-top: 10px;"></ion-skeleton-text>
      <ion-skeleton-text animated style="height: 100px;margin-top: 10px;"></ion-skeleton-text>
    </ion-row>
  </div>
  <div class="tw-content2 ion-padding" *ngIf="isshowtopnav">
    <div class="title">
      <div class="box" [ngClass]="{'active': pageNav === 1}" (click)="gotoPoint(1)">图文介绍<span></span></div>
      <div class="box" *ngIf="productData && productData.ishw" [ngClass]="{'active': pageNav === 2}" (click)="gotoPoint(2)">行程线路<span></span></div>
      <div class="box" *ngIf="productData && !productData.ishw" [ngClass]="{'active': pageNav === 2}" (click)="gotoPoint(2)">规格参数<span></span></div>
      <div class="box" *ngIf="productData && productData.ishw" [ngClass]="{'active': pageNav === 3}" (click)="gotoPoint(3)">费用说明<span></span></div>
      <div class="box" *ngIf="productData && !productData.ishw" [ngClass]="{'active': pageNav === 3}" (click)="gotoPoint(3)">包装售后<span></span></div>
      <div class="box" *ngIf="productData && productData.ishw" [ngClass]="{'active': pageNav === 4}" (click)="gotoPoint(4)">购买须知<span></span></div>

    </div>
  </div>
  <div class="top" *ngIf="productData">
    <ion-slides pager="true">
      <ion-slide *ngFor="let item of productData.bannerList">
        <img src="{{http.zdomain + item}}">
      </ion-slide>
    </ion-slides>
  </div>
  <div class="yhtime-box" *ngIf="productData && productData.xsprice.promote_price && productData.xsprice.promote_price !== '0' && productData.xsprice.promote_end_date">
    <img src="./assets/cxbar.svg" alt="">
    <div class="text-content">
      <div class="left"><span>限时价</span><span>¥</span><span>{{productData.xsprice.promote_price}}</span></div>
      <div class="right">
        <span>剩余时间</span>
        <div class="time-box">
          <span *ngIf="xsday && xsday != 0">{{xsday}}</span><span *ngIf="xsday && xsday != 0">:</span><span>{{xsHouse}}</span><span>:</span><span>{{xsMin}}</span><span>:</span><span>{{xsSec}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="title-box" *ngIf="productData" [ngClass]="{'title-top': !productData.xsprice.promote_price || productData.xsprice.promote_price == '0' || !productData.xsprice.promote_end_date}">
    <app-productlist *ngIf="productData.topData" [ishw]="productData.ishw" [data]="productData.topData" [price]="productData.activestartprice"></app-productlist>
  </div>
  <div class="fwbox line-height">
    <ion-list node="ios" *ngIf="productData">
      <ion-item *ngIf="productData.yf">
        <ion-label>
          <span class="ion-margin-end">发货</span>
          <span *ngIf="productData.yf > 0">运费：{{productData.yf}}</span>
          <span *ngIf="productData.yf == -1">快递包邮</span>
        </ion-label>
      </ion-item>
      <ion-item button  (click)="showfw()">
        <ion-label *ngIf="productData && productData.fw">
          <span class="ion-margin-end">服务</span>
          <span *ngFor="let item of productData.fw" style="margin-right: 10px"><img src="./assets/gou.svg" alt="">{{item}}</span>
        </ion-label>
      </ion-item>
      <ion-item button  (click)="lqbonus()" *ngIf="productData && productData.bonusList && productData.bonusList.length > 0">
        <ion-label>
          <span class="ion-margin-end">领券</span>
          <app-yhbox [notitle]="true" [des]="'满' + productData.bonusList[0].min_goods_amount + '减' + productData.bonusList[0].type_money"></app-yhbox>
        </ion-label>
      </ion-item>
      <ion-item button (click)="showyh()">
        <ion-label *ngIf="productData">
          优惠
          <app-yhbox style="margin-left: 10px" *ngIf="!productData.promotion || productData.promotion.length === 0" [title]="'优惠券自动抵扣'"></app-yhbox>
          <app-yhbox style="margin-left: 10px" *ngFor="let item of productData.promotion" [title]="item.act_name" [des]="item.act_name"></app-yhbox>
          <app-yhbox style="margin-left: 10px" *ngFor="let item of productData.volume_price_list" [title]="'满' + item.number + '件' + item.price +'/件'" [des]="'满' + item.number + '件' + item.price +'/件'"></app-yhbox>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="productData && !productData.ishw && productData.mrseletestr && productData.isdelete == 0 && productData.onsale == 1" button (click)="presentModal(1)">
        <ion-label>
          <span class="ion-margin-end">选择</span>
          <span>{{productData.mrseletestr}}</span>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="tc-box line-height" *ngIf="productData && productData.ishw && productData.isdelete == 0 && productData.onsale == 1">
    <ion-list mode="ios" lines="none">
      <ion-item button (click)="openpage()">
        <ion-label>选择套餐</ion-label>
        <div solt="end" class="right-div" *ngIf="productData">
          <span *ngFor="let item of productData.month;let i = index;">{{i !== 0 ? '/':''}}{{item}}月</span>
          <span>可选</span>
        </div>
      </ion-item>
    </ion-list>
    <div class="ion-padding-start ion-padding-end ion-padding-top">
      <ion-slides [options]="slideOpts" *ngIf="productData">
        <ion-slide *ngFor="let item of productData.timetc; let i = index;">
          <app-seletebtn [block]="true" [name]="item.label | goodTime" [price]="item.minprice" [isactive]="item.selected_key_ecshop68"
          (mclick)="setTimetc($event)" [id]="item.id" [nopadding]="true"></app-seletebtn>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="yhpj line-height" *ngIf="productData && productData.pinglunnum && productData.pinglunnum > 0">
    <ion-list mode="ios" lines="none">
      <ion-item button>
        <ion-label>用户评价({{productData.pinglunnum | setnum}})</ion-label>
        <span (click)="openAllcomment()">全部评价</span>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-chip color="secondary" *ngFor="let item of pingluntags">
          <ion-label color="dark">{{item.tag_name}}({{item.tag_num}})</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <div *ngFor="let item of comment">
      <app-pjcontent [data]="item"></app-pjcontent>
    </div>
    <!--<ion-list mode="ios" lines="none">-->
      <!--<ion-item button>-->
        <!--<ion-label>问大家</ion-label>-->
        <!--<span>共9条问题</span>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
    <!--<ion-list lines="none">-->
      <!--<ion-item>-->
        <!--<img src="./assets/wen.svg" slot="start" alt="">-->
        <!--<ion-label>-->
          <!--<h2>什么时候出发</h2>-->
          <!--<p>123个回答</p>-->
        <!--</ion-label>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<img src="./assets/wen.svg" slot="start" alt="">-->
        <!--<ion-label>-->
          <!--<h2>除了套餐价格以外，还有其他费用吗</h2>-->
          <!--<p>123个回答</p>-->
        <!--</ion-label>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  </div>
  <div class="shop-information line-height" *ngIf="supplier">
    <ion-list lines="none">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="supplier.shoplogo ? http.zdomain + supplier.shoplogo : 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'">
        </ion-thumbnail>
        <ion-label>
          <h2>{{supplier.shopname}}</h2>
          <p>
            <span *ngIf="suppid == 0"><img class="kb" src="./assets/kb.svg" alt="">平台特供</span>
            <span *ngIf="supplier.yj > 0 && suppid != 0"><img class="kb" src="./assets/kb.svg" alt="">认证商家</span>
            <span><img src="./assets/dz.svg" alt="">金牌口碑</span>
          </p>
        </ion-label>
        <app-mybutton *ngIf="suppid != 0" [bname]="'进店逛逛'" slot="end"  (click)="opendp()"></app-mybutton>
      </ion-item>
    </ion-list>
    <ion-grid class="shop-des" *ngIf="goodsnumobj">
      <ion-row>
        <ion-col>
          <h2>{{supplier.goodsnumobj[1]}}</h2>
          <p>{{supplier.goodsnumobj[0]}}</p>
        </ion-col>
        <ion-col>
          <h2>{{supplier.fensiobj[1]}}</h2>
          <p>{{supplier.fensiobj[0]}}</p>
        </ion-col>
        <ion-col>
          <h2>{{supplier.haopingobj[1] == 0 ? '100' : supplier.haopingobj[1]}}%</h2>
          <p>{{supplier.haopingobj[0]}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of supplier.best_goods" size="4">
          <app-tjproduct [price]="item.shop_price" [name]="item.goods_name"
                         [src]="http.zdomain + item.thumb" [id]="item.goods_id" (tclick)="optenProduct($event)"></app-tjproduct>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="cztc" *ngIf="productData && productData.cztc.length > 0">
    <ion-list mode="ios">
      <ion-item button lines="none" (click)="gototc()">
        <ion-label>超值套餐</ion-label>
        <span>更多套餐</span>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-slides pager="true" [options]="slideOptslv" class="lxlg"  (click)="gototc()">
        <ion-slide style="position: relative">
          <img class="tcbgimg" src="../assets/tcbj.png" alt="">
          <div class="tc-first-box">
            <div>原价：<span>{{productData.cztc[0].subtotal}}</span></div>
            <div class="xj">套餐价：<span>{{productData.cztc[0].package_price}}</span></div>
            <div>节省：{{productData.cztc[0].saving}}</div>
          </div>
        </ion-slide>
        <ion-slide *ngFor="let data of productData.cztc[0].goods_list">
          <img style="width: 15px" [src]="http.domain + 'themesmobile/68ecshopcom_mobile/images/goods/jia.png'">
          <img [src]="http.domain + data.goods_thumb">
        </ion-slide>
      </ion-slides>
    </div>

  </div>

  <div class="tw-content line-height ion-padding">
    <div class="title">
      <div class="box" [ngClass]="{'active': pageNav === 1}" (click)="gotoPoint(1)">图文介绍<span></span></div>
      <div class="box" *ngIf="productData && productData.ishw" [ngClass]="{'active': pageNav === 2}" (click)="gotoPoint(2)">行程线路<span></span></div>
      <div class="box" *ngIf="productData && !productData.ishw" [ngClass]="{'active': pageNav === 2}" (click)="gotoPoint(2)">规格参数<span></span></div>
      <div class="box" *ngIf="productData && productData.ishw" [ngClass]="{'active': pageNav === 3}" (click)="gotoPoint(3)">费用说明<span></span></div>
      <div class="box" *ngIf="productData && !productData.ishw" [ngClass]="{'active': pageNav === 3}" (click)="gotoPoint(3)">包装售后<span></span></div>
      <div class="box" *ngIf="productData && productData.ishw" [ngClass]="{'active': pageNav === 4}" (click)="gotoPoint(4)">购买须知<span></span></div>
    </div>
    <div class="car-information" *ngIf="productData && productData.hbxx && productData.ishw">
      <div class="tmcontent-title">{{productData.hbxx.car | carorother}}信息</div>
      <div class="car-des">{{productData.hbxx.car | carorother}}信息仅供参考，具体信息可咨询商家</div>
      <div class="information-box">
        <div class="box">
          <div class="title"><img src="./assets/to.svg" alt="">{{productData.hbxx.start_city}}-{{productData.hbxx.forcity}}</div>
          <div class="footer">
            <div class="time">
              <span>{{productData.hbxx.starttime | onlytime}}</span>
              <span>{{productData.hbxx.startpoint}}</span>
            </div>
            <div class="center">
              <span></span>
              <div>{{productData.hbxx.starttime | timedifference: productData.hbxx.arrivetime}}</div>
            </div>
            <div class="time">
              <span>{{productData.hbxx.arrivetime | onlytime}}</span>
              <span>{{productData.hbxx.arrivepoint}}</span>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="title"><img src="./assets/back.svg" alt="">{{productData.hbxx.fstartCity}}-{{productData.hbxx.fforcity}}</div>
          <div class="footer">
            <div class="time">
              <span>{{productData.hbxx.fstarttime | onlytime}}</span>
              <span>{{productData.hbxx.fstartpoint}}</span>
            </div>
            <div class="center">
              <span></span>
              <div>{{productData.hbxx.fstarttime | timedifference: productData.hbxx.farrivetime}}</div>
            </div>
            <div class="time">
              <span>{{productData.hbxx.farrivetime | onlytime}}</span>
              <span>{{productData.hbxx.farrivepoint}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tmcontent-title">图文介绍</div>
    <div class="twjs-box tw-html-content">
      <div *ngIf="productData" [innerHTML]="assembleHTML(productData.twcontent)"></div>
    </div>
    <div class="tmcontent-title xcxl" *ngIf="productData">{{productData.ishw ? '行程线路' : '规格参数'}}</div>
    <div class="" margin-top="5px">
      <ion-grid *ngIf="productData && !productData.ishw">
        <ion-list *ngIf="productData">
          <ion-item *ngIf="productData.goods_sn">
            <ion-label>
              商品编号
            </ion-label>
            <div slot="end">{{productData.goods_sn}}</div>
          </ion-item>
          <ion-item *ngIf="productData.goods_brand">
            <ion-label>
              商品品牌
            </ion-label>
            <div slot="end">{{productData.goods_brand}}</div>
          </ion-item>
          <ion-item *ngFor="let item of productData.properties">
            <ion-label>{{item.name}}</ion-label>
            <div slot="end">{{item.value}}</div>
          </ion-item>
        </ion-list>
      </ion-grid>
      <ion-slides [options]="slideOpts2" *ngIf="productData && productData.xclx && productData.xclx.length > 1">
        <ion-slide *ngFor="let item of productData.xclx; let i = index;">
          <app-seletebtn [block]="true" [name]="item.jtjy_name" [isactive]="i === tcxqIndex"
                         (mclick)="setTccontentindex($event)" [id]="i + 1"></app-seletebtn>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="xclx-box" *ngIf="productData && productData.xclx && productData.xclx.length > 0 && productData.ishw">
      <app-xclx [data]="productData.xclx[tcxqIndex].attr"></app-xclx>
    </div>
    <div class="tmcontent-title fysm" *ngIf="productData">{{productData.ishw ? '费用说明' : '包装售后'}}</div>
    <div class="twjs-box" *ngIf="productData && !productData.ishw">
      <h2><span></span>包装清单</h2>
      <p>{{productData.goods_brief || '暂无'}}</p>
      <h2><span></span>售后服务</h2>
      <p>{{productData.goods_shfw ||  '暂无'}}</p>
      <h2><span></span>价格说明</h2>
      <div *ngFor="let item of productData.ptjgsm;let i = index;" style="color: #999;font-size: 12px;">
        {{(i + 1) + '、' + item}}
      </div>
    </div>
    <div class="gmxz-des" *ngIf="productData && productData.ishw">
      费用透明，全程0购物
    </div>
    <div class="twjs-box" *ngIf="productData && productData.ishw">
      <h2><span></span>费用包含</h2>
      <p>下单前请注意：为了确保您顺利出行，请下单前来电确认余位和行程。</p>
      <div class="fybh-box">
        <div *ngIf="productData && productData.fybh" [innerHTML]="assembleHTML(productData.fybh)"></div>
      </div>
      <h2><span></span>费用不包含</h2>
      <div class="fybh-box">
        <div *ngIf="productData && productData.fybbh" [innerHTML]="assembleHTML(productData.fybbh)"></div>
      </div>
      <h2><span></span>购物说明</h2>
      <div class="fybh-box">
        <div *ngIf="productData && productData.gmsm" [innerHTML]="assembleHTML(productData.gmsm)"></div>
      </div>
    </div>
    <div class="tmcontent-title gmxz" *ngIf="productData && productData.ishw">购买须知</div>
    <div class="gmxz-des" *ngIf="productData && productData.ishw">
      全程为您服务，让您无忧出行
    </div>
    <div class="twjs-box" *ngIf="productData && productData.ishw">
      <h2><span></span>退款说明</h2>
      <p *ngIf="productData && productData.tkgx == 1">
        商家确认前随时可退，商家确认后将不支持退款
      </p>
      <p *ngIf="productData && productData.tkgx == 2">
        商家确认前随时可退，商家确认后将按照下列规则退款：
      </p>
      <ul class="tkxz" *ngIf="productData && productData.tksm">
        <li *ngFor="let item of productData.tksm;let i = index">
          {{i + 1}}.出发日期前{{item.beforetime}}天(含),扣除订单金额&nbsp;<ion-text color="danger">{{item.kcbl}}%</ion-text>&nbsp;作为卖家损失费
        </li>
      </ul>
      <ul class="tkxz" *ngIf="productData && (!productData.tksm || productData.tksm.length === 0)">
        <li>
          出行前随时可退
        </li>
      </ul>
      <h2><span></span>温馨提示</h2>
      <div *ngIf="productData && productData.gmxz" [innerHTML]="assembleHTML(productData.gmxz)"></div>
    </div>
  </div>
  <div class="klyk" *ngIf="productData && productData.related_goods.length > 0">
    看了又看
  </div>
  <ion-grid *ngIf="productData">
    <ion-row>
      <ion-col *ngFor="let item of productData.related_goods" size="4">
        <app-tjproduct [price]="item.shop_price" [name]="item.goods_name"
                       [src]="http.zdomain + item.goods_thumb" [id]="item.goods_id" (tclick)="optenProduct($event)"></app-tjproduct>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer mode="ios">
  <ion-toolbar mode="ios" *ngIf="productData">
    <div class="footer-content">
      <div class="left">
        <div class="box" (click)="toKf()"><img src="./assets/kf-icon.svg" alt=""><span>客服</span></div>
        <div class="box" (click)="opendp(1)"><img src="./assets/dianpu-icon.svg" alt=""><span>店铺</span></div>
        <div class="box" (click)="scgoods()">
          <img *ngIf="productData.issc !== 1" src="./assets/sc-icon.svg" alt="">
          <img *ngIf="productData.issc === 1" src="./assets/icon/sc.svg" alt="">
          <span>收藏</span></div>
      </div>
      <div class="right" (click)="openpage()"
           [ngClass]="{'gray': productData.month && productData.month.length == 0 || productData.isdelete == 1 || productData.onsale == 0}"
           *ngIf="productData.ishw || productData.isdelete == 1 || productData.onsale == 0">
        {{productData.isdelete == 1 ? '已删除' : productData.onsale == 0 ? '已下架' : '立即预订'}}
      </div>
      <div class="right-goods" *ngIf="!productData.ishw && productData.isdelete != 1 && productData.onsale != 0">
        <div class="left" (click)="presentModal(2)">
          加入购物车
        </div>
        <div class="right" (click)="presentModal(3)">
          立即购买
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
