<!--
 * @Author: wjy-mac
 * @Date: 2019-06-16 01:50:44
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-11-07 23:35:26
 * @Description: file content
 -->
<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{shopName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="box" *ngFor="let item of list">
    <div class="time">{{item.time | newstime: list}}</div>
    <div class="item" *ngIf="item.uid != uid">
      <div class="left">
        <img class="header" [src]="item.header | imgsrc: http.zdomain" alt="">
      </div>
      <div class="right">
        <div class="name">{{item.name}}</div>
        <div class="content" *ngIf="item.type === 1">
          {{item.content}}
        </div>
        <div class="img-content" *ngIf="item.type === 2">
          <img [src]="item.content | imgsrc: http.zdomain" alt="">
        </div>
      </div>
    </div>
    <div class="me" *ngIf="item.uid == uid">
      <div class="left">
        <span class="content" *ngIf="item.type === 1">
            {{item.content}}
        </span>
        <img class="img-content" *ngIf="item.type === 2" [src]="item.content | imgsrc: http.zdomain" alt="">
      </div>
      <div class="right">
        <img [src]="userhead | imgsrc: http.zdomain" alt="">
      </div>
    </div>
  </div>
  <ion-backdrop *ngIf="isshowDrop" (ionBackdropTap)="clickdrop()"></ion-backdrop>
</ion-content>
<ion-footer>
  <ion-toolbar no-padding>
    <app-chatinputbox (sub)="sendMsg($event)" (myfous)="monfous()" (mybulr)="monblur()"></app-chatinputbox>
  </ion-toolbar>
</ion-footer>
