<!--
 * @Author: wjy-mac
 * @Date: 2019-06-16 01:50:44
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-11-15 17:21:17
 * @Description: file content
 -->
<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{shopName}}</ion-title>
    <ion-buttons slot="end" *ngIf="shopId != '0'">
      <ion-button (click)="goTopage(7, shopId)">
        店铺
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" #content>
  <div class="box" *ngFor="let item of list">
    <div class="time">{{item.time | newstime: list}}</div>
    <div class="item" *ngIf="item.isyh != 1">
      <div class="left">
        <img class="header" [src]="shopHead | imgsrc: http.zdomain" alt="">
      </div>
      <div class="right">
        <div class="name">{{item.tname || item.shopName}}</div>
        <div class="content" *ngIf="item.type === 1">
          {{item.content}}
        </div>
        <div class="img-content" *ngIf="item.type === 2">
          <img (click)="scanImg(item.content)" [src]="item.content | imgsrc: http.zdomain" alt="">
        </div>
      </div>
    </div>
    <div class="me" *ngIf="item.isyh == 1">
      <div class="left">
        <span class="content" *ngIf="item.type === 1">
            {{item.content}}
        </span>
        <img class="img-content" *ngIf="item.type === 2" [src]="item.content | imgsrc: http.zdomain" alt="">
      </div>
      <div class="right">
        <img (click)="scanImg(item.content)" [src]="userhead | imgsrc: http.zdomain" alt="">
      </div>
    </div>
  </div>
  <ion-backdrop *ngIf="isshowDrop" (ionBackdropTap)="clickdrop()"></ion-backdrop>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-no-padding">
    <div class="footer-news-box">
      <div class="left" (click)="choiceImg()">
        <img src="../../../assets/imgk.svg" alt="">
      </div>
      <div class="right">
        <app-chatinputbox (sub)="sendMsg($event)" (myfous)="monfous()" (mybulr)="monblur()"></app-chatinputbox>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
