$width: 35px;
.box {
  .time {
    text-align: center;
    font-size: var(--ion-sm-text);
    color: var(--ion-color-medium);
  }
  .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    .left {
      width: $width;
      height: $width;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 8px;
      overflow: hidden;
      img {
        width: $width;
      }
    }
    .right {
      flex: 1;
      max-width: calc(100% - 50px);
      .name {
        line-height: 30px;
        font-size: var(--ion-sm-text);
        color: var(--ion-color-medium);
        max-width: 100%;
        overflow: hidden;
      }
      .content {
        display: inline-block;
        padding: 5px 15px;
        min-height: 30px;
        font-size: var(--ion-title);
        background-color: var(--ion-color-light);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        max-width: 100%;
      }
    }
  }
  .me {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    .right {
      width: $width;
      height: $width;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-left: 8px;
      overflow: hidden;
      img {
        width: $width;
      }
    }
    .left {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
      max-width: calc(100% - 50px);
      margin-top: 3px;;
      .content {
        min-height: 30px;
        padding: 5px 15px;
        font-size: var(--ion-title);
        background: linear-gradient(var(--ion-color-secondary, red), var(--ion-color-success, blue));
        display: inline-block;
        max-width: 100%;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        color: #fff;
      }
    }
  }
}
.img-content {
  width: 100px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
  }
}
ion-footer {
  padding: 0;
  color: var(--ion-color-dark);
  ion-toolbar {
    padding: 0;
  }
  ion-searchbar {
    //padding-top: 5px;
    //padding-bottom: 5px;
    //--padding-top: 5px;
    //--padding-bottom: 5px;
    height: 50px;
  }
  ion-button {
    img {
      width: 20px;
    }
  }
}

.footer-news-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .left {
    width: 34px;
    padding-left: 10px;
  }
  .right {
    flex: 1;
  }
}