.box {
  position: relative;
  width: 100%;
  height: 100%;
  .qgbj {
    position: absolute;
    top: 0;
    left: 0;
    width: 84%;
    --padding: 0;
    --margin: 0;
  }
  .qgtext {
    position: absolute;
    top: 2%;
    width: 25%;
    left: 5%;
  }
  div.time {
    position: absolute;
    top: 2px;
    left: 40%;
    font-size: var(--ion-sm-text);
    color: #fff;
    span {
      padding: 0 2px;
      background-color: #fff;
      display: inline-block;
      color: var(--ion-color-danger);
      margin-right: 1px;
      margin-left: 1px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
  .title {
    font-size: var(--ion-text);
    position: absolute;
    bottom: 30px;
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price {
    position: absolute;
    display: block;
    font-size: var(--ion-sm-text);
    color: #fff;
    background-color: var(--ion-color-danger);
    bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 5px;
    margin-left: 15px;
  }

}