.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 44px;
  .left {
    padding: 5px 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .box {
      margin-left: 15px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      font-size: var(--ion-tab-sm-text);
      color: var(--ion-color-medium);
      &:nth-of-type(2) {
        margin-left: 5px;
      }
      &.red {
        color: var(--ion-color-danger);
      }
      .price {
        font-size: var(--ion-text);
        font-weight: 600;
      }
    }
  }
  .right {
    width: 30%;
    background-color: var(--ion-color-danger);
    color: #fff;
    font-size: var(--ion-title);
    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
      background-color: var(--ion-color-danger-tint);
    }
    &.disabled {
      background-color: var(--ion-color-light);
    }
  }
}
