<!--
 * @Author: wjy-mac
 * @Date: 2019-07-07 02:44:20
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-11-30 14:49:32
 * @Description: 商品订单详情
 -->
<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>我的订单</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
       pullingIcon="arrow-dropdown"
       pullingText="Pull to refresh"
       refreshingSpinner="circles"
       refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="top" *ngIf="data">
    <div class="status">
      <span *ngIf="(data.order.order_status == '0' || data.order.order_status == '1') && data.order.pay_status == '0'">等待买家付款</span>
      <p *ngIf="(data.order.order_status == '0' || data.order.order_status == '1') && data.order.pay_status == '0'">剩{{endtime}}自动关闭</p>
      <span>
        <img *ngIf="data.order.order_status == '5' && data.order.shipping_status == '2' && data.order.pay_status == '2'" src="../../../assets/icon/gou.svg" alt="">
        <img class="cancle" *ngIf="data.order.order_status == '2' && data.order.shipping_status == '0' && data.order.pay_status == '0'" src="../../../assets/icon/cancle.svg" alt="">
      </span>
      <span *ngIf="!istkend">订单{{data.order | orderstatus}}</span>
      <span *ngIf="istkend">订单已取消，已退款</span>
      <span margin-top 
      *ngIf="data.order.order_status == '5' && data.order.shipping_status == '2' && data.order.pay_status == '2' || 
      data.order.order_status == '2' && data.order.shipping_status == '0' && data.order.pay_status == '0'"><ion-button size="small" color="secondary" (click)="toPagefn(2, data.goods_list[0].goods_id)">再次购买</ion-button></span>
    </div>
  </div>
  <div class="address-box" padding>
    <div class="icon">
      <span>
        <img src="../../../assets/icon/address2.svg" alt="">
      </span>
    </div>
    <div class="right" *ngIf="data">
      <div class="box">{{data.order.consignee}} <ion-text color="medium">{{data.order.mobile}}</ion-text></div>
      <div class="box">{{data.order.address}}</div>
    </div>
  </div>
  <div *ngIf="data" class="goods-content" padding-bottom>
    <app-ordercontentgoods [goods_list]="data.goods_list" [shopname]="data.order.referer" [supplier_id]="data.order.supplier_id"></app-ordercontentgoods>
    <ion-list lines="none" no-padding no-margin>
      <ion-item lines="none">
        <ion-label><p><ion-text color="dark">商品总价</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.formated_goods_amount}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.extension_code === 'group_buy'" lines="none">
        <ion-label><p><ion-text color="dark">保证金</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.formated_goods_amount}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.discount != 0" lines="none">
        <ion-label><p><ion-text color="dark">折扣</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.discount}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.tax != 0" lines="none">
        <ion-label><p><ion-text color="dark">发票税额</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.tax}}</ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-label><p><ion-text color="dark">运费</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.formated_shipping_fee}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.insure_fee > 0" lines="none">
        <ion-label><p><ion-text color="dark">保价费用</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.insure_fee}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.pay_fee > 0" lines="none">
        <ion-label><p><ion-text color="dark">改价</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.pay_fee}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.pack_fee > 0" lines="none">
        <ion-label><p><ion-text color="dark">包装费用</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.pack_fee}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.card_fee > 0" lines="none">
        <ion-label><p><ion-text color="dark">贺卡费用</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.card_fee}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.card_fee > 0" lines="none">
        <ion-label><p><ion-text color="dark">贺卡费用</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.card_fee}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.money_paid > 0" lines="none">
        <ion-label><p><ion-text color="dark">已付金额</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.formated_money_paid}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.surplus > 0" lines="none">
        <ion-label><p><ion-text color="dark">使用余额</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.formated_surplus}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.integral_money > 0" lines="none">
        <ion-label><p><ion-text color="dark">使用积分</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.formated_integral_money}}</ion-note>
      </ion-item>
      <ion-item *ngIf="data.order.bonus > 0" lines="none">
        <ion-label><p><ion-text color="dark">使用红包</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.formated_bonus}}</ion-note>
      </ion-item>
      <ion-item lines="none" *ngIf="data.order.formated_order_amount != '0.00'">
        <ion-label><p><ion-text color="dark">应付款总价</ion-text></p></ion-label>
        <ion-note slot="end">{{data.order.formated_order_amount}}</ion-note>
      </ion-item>
      <p *ngIf="data.order.extension_code == 'group_buy'"><ion-text color="medum">（备注：团购如果有保证金，第一次只需支付保证金和相应的支付费用）</ion-text></p>
    </ion-list>
  </div>
  <div class="order-content" *ngIf="data" padding margin-top>
    <div class="title" margin-bottom>订单信息</div>
    <div class="my-item">
      <div class="left">订单编号:</div>
      <div class="right">{{data.order.order_sn}}</div>
    </div>
    <div class="my-item" *ngIf="data.order.pay_name">
      <div class="left">支付方式:</div>
      <div class="right">{{data.order.pay_name}}</div>
    </div>
    <div class="my-item" *ngIf="data.order.shipping_id > 0">
      <div class="left">配送方式:</div>
      <div class="right">{{data.order.shipping_name || '请咨询商家'}}</div>
    </div>
    <div class="my-item" *ngIf="data.order.shipping_id > 0">
      <div class="left">快递单号:</div>
      <div class="right">{{data.nu || '请咨询商家'}}</div>
    </div>
    <div class="my-item">
      <div class="left">创建时间:</div>
      <div class="right">{{data.order.add_time | time}}</div>
    </div>
    <div class="my-item" *ngIf="data.order.postscript">
      <div class="left">订单留言:</div>
      <div class="right">{{data.order.postscript}}</div>
    </div>
    <div class="my-item" *ngIf="data.order.to_buyer">
      <div class="left">商家留言:</div>
      <div class="right">{{data.order.to_buyer}}</div>
    </div>
  </div>
  <div class="yepay-box" *ngIf="data && data.allow_edit_surplus == 1 && data.canchangepay  && data.order.order_status == '未确认' && data.order.pay_status === '未付款'" margin-top>
    <ion-list inset="true" lines="none">
      <ion-item lines="none">
        <ion-label>使用余额</ion-label>
        <ion-toggle [(ngModel)]="kysyye" (ionChange)="setyenum()" color="success" [disabled]="isyepayend"></ion-toggle>
      </ion-item>
      <ion-item lines="none" *ngIf="kysyye">
        <ion-label>输入金额</ion-label>
        <ion-input type="number" mode="ios" (ionChange)="setyechange()"  [disabled]="isyepayend" min="0" [(ngModel)]="syye" color="success"></ion-input>
        <ion-note>元</ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-label><p>您当前的可用余额为{{data.max_surplus}}</p></ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="zftype" padding-end margin-top *ngIf="data && data.order.order_status == '未确认' && data.order.pay_status === '未付款'">
    <ion-list>
      <ion-radio-group [(ngModel)]="payType">
        <ion-list-header>
          支付方式
        </ion-list-header>
        <ion-item *ngFor="let item of payList" lines="none">
          <ion-label><img [src]="item.pay_code == 'alipay' ? './assets/zfb.svg' : './assets/wechartpay.svg'" alt="">{{item.pay_name}}</ion-label>
          <ion-radio color="success" value="{{item.pay_code}}" mode="md"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
  <ion-grid class="contact-box" margin-top>
    <ion-row>
      <ion-col>
        <ion-button expand="full" fill="clear" color="dark" (click)="toMessage()">
          <img src="../../../assets/kf.png" alt="">
          联系卖家
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" fill="clear" color="dark" (click)="call()"><img src="../../../assets/tel.png" alt="">拨打电话</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="data && (data.order.order_status == '0' || data.order.order_status == '1') && data.order.pay_status === '0'">
  <ion-toolbar>
    <div class="footer-bar">
      <ion-button size="small" color="light" (click)="cancleOrder(1)">取消订单</ion-button>
      <ion-button size="small" color="danger" (click)="submit()">付款</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
<ion-footer 
*ngIf="data && !isshing && data.order.order_status == '1' && (data.order.shipping_status == '0' || data.order.shipping_status == '3') && data.order.pay_status === '2' ||
data && data.order.order_status == '2' && data.order.shipping_status == '0' && data.order.pay_status === '2' && !istkend">
  <ion-toolbar>
    <div class="footer-bar">
      <ion-button size="small" color="light" (click)="cancleOrder(2)">退款</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="data && !isshing && data.order.order_status == '5' && data.order.shipping_status == '1' && data.order.pay_status === '2'">
  <ion-toolbar>
    <div class="footer-bar">
      <ion-button size="small" color="success" (click)="confirmReceipt()">确认收货</ion-button>
      <ion-button size="small" color="light" (click)="cancleOrder()">退换</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="data && data.order.order_status == '5' && data.order.shipping_status == '2' && data.order.pay_status === '2'">
  <ion-toolbar>
    <div class="footer-bar">
      <ion-button size="small" color="danger" *ngIf="comment > 0" (click)="toPagefn(16, data.order.order_id)">评价</ion-button>
      <ion-button size="small" *ngIf="!isshing" color="light" (click)="cancleOrder(4)">售后</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>