<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>搜索订单</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar showCancelButton="focus"
                 animated  placeholder="请输入商品名称"
                 cancelButtonText="取消" mode="ios" (ionChange)="searchitem($event.detail.value)"></ion-searchbar>
  <div class="my-content-bg" *ngFor="let item of list; let i = index">
    <ion-list inset="true" line="none">
      <div class="shopname-box">
        <div class="left">
          <img src="../../../assets/icon/dianpu.png" alt=""><h3 class="supper_name">{{item.shopname}}</h3>
        </div>
        <div class="right">{{item.order_status}}</div>
      </div>
      <ion-item *ngFor="let data of item.goods_list" lines="none">
        <ion-thumbnail slot="start">
          <img [src]="http.domain + data.goods_thumb">
        </ion-thumbnail>
        <ion-label>
          <h3 class="goods_title">{{data.goods_name | namesubstr: 25}}</h3>
          <p class="goods_title">{{data.goods_attr}}</p>
        </ion-label>
        <div slot="end" class="end-price">
          <span>{{data.formated_goods_price}}</span>
          <span>×{{data.goods_number}}</span>
        </div>
      </ion-item>
      <p class="order_des">共{{item.count}}件商品&nbsp;&nbsp;实付:{{item.total_fee}}</p>
    </ion-list>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
       loadingSpinner="bubbles"
       loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
