<!--
 * @Author: wjy-mac
 * @Date: 2019-08-03 14:52:31
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-12-04 19:20:32
 * @Description: file content
 -->
<ion-header [translucent]="true" mode="ios">
  <ion-toolbar  mode="ios" [ngClass]="'show-' + toolbaropacity">
    <ion-title *ngIf="isshow">{{user.user_name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="openPage(5)">
        <!--<ion-icon slot="icon-only" name="cog"></ion-icon>-->
        <img src="./assets/center-arrow.svg">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" [fullscreen]="true" (ionScroll)="logScrolling($event)">

  <div class="center-top" [ngClass]="{'android-center-top': isandroid}">
    <!--<div class="top-right">-->
      <!--<ion-button fill="clear">-->
        <!--&lt;!&ndash;<ion-icon slot="icon-only" name="cog"></ion-icon>&ndash;&gt;-->
        <!--<img src="./assets/center-arrow.svg">-->
      <!--</ion-button>-->
    <!--</div>-->
    <!--<img src="./assets/centerhead.svg">-->
    <!-- <img src="../../assets/centerhead.svg" class="top-bg" alt=""> -->
    <div class="box" padding>
      <div class="header">
        <ion-avatar>
          <img [src]="user.headimg  | imgsrc: http.domain">
        </ion-avatar>
        <div class="right">
          <div class="name">
            {{user.user_name}}
            <ion-button fill="clear" size="small" (click)="openPage(14)">
              修改资料
              <img src="./assets/centerarrow.svg">
            </ion-button>
          </div>
          <div class="des">
            <span>LV.{{user.user_rank}}</span>
            {{user.lxdj}}
          </div>
        </div>
      </div>
      <div class="footer">
        <ion-grid>
          <ion-row *ngIf="centeruser">
            <ion-col (click)="openPage(12)">
              <span>{{centeruser.gznum | setnum}}</span><span>关注</span>
            </ion-col>
            <ion-col (click)="openPage(13)">
              <span>{{centeruser.fsnum | setnum}}</span><span>粉丝</span>
            </ion-col>
            <ion-col>
              <span>{{centeruser.dznum | setnum}}</span><span>获赞</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <div class="topnav">
    <ion-card mode="ios">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col (click)="openPage(1)"><img src="./assets/wdxc.svg"><span>我的行程</span></ion-col>
            <ion-col (click)="openPage(2)"><img src="./assets/wdsc.svg"><span>行程收藏</span></ion-col>
            <ion-col (click)="openPage(3)"><img src="./assets/yhq.svg"><span>优惠券</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="xcts-box" *ngIf="centeruser">
    <ion-card class="tis" mode="ios" *ngFor="let item of centeruser.xclist; let i = index">
      <ion-card-content>
        <div class="my-title">
          <img src="../assets/znxl.png">
          <img src="../assets/centercha.svg" (click)="closeXlts(i)">
        </div>
        <span *ngIf="item.timeend>0 && item.timetype == 2">距离行程[{{item.setouttime}}]出发还有<ion-text color="success">{{item.timeend}}</ion-text>天，请做好安排哦！ <ion-text color="primary" (click)="openOtherpage({type: 11, url: item.order_sn})">去看看</ion-text></span>
        <span *ngIf="item.timeend>0 && item.timetype == 1 && item.timeend > 2">距离行程[{{item.setouttime}}]出发还有<ion-text color="success">{{item.timeend}}</ion-text>小时，请做好安排哦！ <ion-text color="primary" (click)="openOtherpage({type: 11, url: item.order_sn})">去看看</ion-text></span>
        <span *ngIf="item.timeend>0 && item.timetype == 1 && item.timeend <= 2">行程[{{item.setouttime}}]<ion-text color="danger">即将出发</ion-text>，请做好安排哦！ <ion-text color="primary" (click)="openOtherpage({type: 11, url: item.order_sn})">去看看</ion-text></span>
        <span *ngIf="item.timeend == 0">行程[{{item.setouttime}}]今日出发，请尽快集合哦！ <ion-text color="primary" (click)="openOtherpage({type: 11, url: item.order_sn})">去看看</ion-text></span>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card mode="ios" class="cygj">
    <ion-card-header>
      <ion-card-title>常用工具</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col (click)="openPage(8)"><img src="./assets/jfsc.svg"><span>购物车</span></ion-col>
        <ion-col (click)="openPage(10)"><img src="./assets/allorder.svg"><span>全部订单</span></ion-col>
        <ion-col (click)="openPage(16)"><img src="./assets/allorder.svg"><span>退款/售后</span></ion-col>
        <ion-col (click)="openPage(4)"><img src="./assets/wddp.svg"><span>我的收藏</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="openPage(11)"><img src="./assets/wdfb.svg"><span>我的发布</span></ion-col>
        <ion-col (click)="openPage(15)"><img src="./assets/wdcg.svg"><span>我的草稿</span></ion-col>
        <ion-col (click)="openPage(9)"><img src="./assets/lljl.svg"><span>浏览记录</span></ion-col>
        <ion-col><img src="./assets/kf.svg"><span>客服服务</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" (click)="hzqt()"><img src="./assets/hzqt.svg"><span>合作洽谈</span></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios" class="hdbox" *ngIf="centeruser && centeruser['advertisement'] && centeruser['advertisement'].length > 0">
    <ion-card-header>
      <ion-card-title>活动中心</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col *ngFor="let item of centeruser['advertisement']" (click)="openOtherpage(item)">
          <!--<div class="box">-->
            <!--<div class="left">-->
              <!--<div class="title">分享有礼</div>-->
              <!--<div class="des">邀请好友<ion-text color="danger">得红包</ion-text></div>-->
            <!--</div>-->
            <!--<img src="../assets/share.svg">-->
          <!--</div>-->
          <!--<div class="box">-->
            <!--<div class="left">-->
              <!--<div class="title">有奖问卷</div>-->
              <!--<div class="des">快来参与问卷调查</div>-->
            <!--</div>-->
            <!--<img src="../assets/yjwd.svg">-->
          <!--</div>-->
          <img [src]="item.image | imgsrc: http.domain" alt="">
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
