.top {
  //margin-top: -44px;
  margin-top: var(--ion-platform-margin-top);
  overflow: hidden;
  .banner {
    position: relative;
    //top: -68px;
    margin-top: -106px;
    width: 100%;
    img {
      width: 100%;
    }
  }
}
.my-list {
  .item {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
    .title {
      font-size: var(--ion-title);
      color: var(--ion-color-dark);
      font-weight: 600;
      line-height: 25px;
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      ion-text {
        font-size: var(--ion-sm-text);
      }
    }
  }
}