<!--
 * @Author: wjy-mac
 * @Date: 2019-09-26 16:52:52
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-10-08 21:28:49
 * @Description: 专题列表
 -->
<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon mode="ios" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{type == 1 ? '户外专题' : '装备专题'}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="top">
    <img src="./assets/listbg.svg" alt="">
    <div class="banner" padding *ngIf="banner" (click)="goPagefn(banner.url, banner.type)">
      <img [src]="banner.image | imgsrc: http.domain">
    </div>
  </div>
  <div class="my-list">
    <div class="item" *ngFor="let item of list" (click)="goPagefn(item.topic_id)">
      <img [src]="item.topic_img | imgsrc: http.zdomain" alt="">
      <div class="title">{{item.title}}</div>
    </div>
  </div>
</ion-content>
