<!--
 * @Author: wjy-mac
 * @Date: 2019-08-03 23:14:51
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-11-18 10:14:36
 * @Description: file content
 -->
<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>更多设置</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content class="ion-padding">
  <ion-list>
    <!-- <ion-item *ngIf="user && user.is_surplus_open == 0" button (click)="setPaypwd()">设置支付密码</ion-item> -->
    <!-- <ion-item *ngIf="user && user.is_surplus_open == 1" button (click)="setPaypwd()">修改支付密码</ion-item> -->
    <ion-item *ngIf="user" button (click)="gotopage(1)">地址管理</ion-item>
    <!-- <ion-item button (click)="tobill()">账单</ion-item> 感觉无用 wjy -->
    <ion-item button (click)="toSetpw()">修改登录密码</ion-item>
    <ion-item button (click)="toabout()">关于我们</ion-item>
  </ion-list>
  <ion-button color="danger" expand="block" (click)="loginout()">退出登录</ion-button>
</ion-content>
