<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button></ion-back-button>-->
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>搜索结果</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
       pullingIcon="arrow-dropdown"
       pullingText="Pull to refresh"
       refreshingSpinner="circles"
       refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="data">
    <app-productlist *ngFor="let item of data.goods_list" [data]="item" (open)="openpage($event)"></app-productlist>
  </div>
  <h2>周边推荐</h2>
  <div *ngIf="data">
    <app-productlist *ngFor="let item of data.top_goods" [data]="item" (open)="openpage($event)"></app-productlist>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
       loadingSpinner="crescent"
       loadingText="加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
