<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <!--<ion-back-button></ion-back-button>-->
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>选择套餐</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-pagetitle *ngIf="data && data.timetc" [myname]="'出发日期'" [nobold]="true" [type]="false" [smpadding]="true"></app-pagetitle>
  <app-datecontent *ngIf="data && data.timetc" [datelist]="data.timetc" [noMonth]="data.month" (setDate)="setData($event)"></app-datecontent>
  <div class="border"></div>
  <app-pagetitle *ngIf="data && data.jtjy" [myname]="'几天几晚'" [nobold]="true" [type]="false" [smpadding]="true"></app-pagetitle>
  <div class="tcbox" *ngIf="data && data.jtjy">
    <app-seletebtn *ngFor="let item of data.jtjy.values" (mclick)="clickJtjy($event)" [name]="item.label" [id]="item.id" [graybg]="item.disabled" [isactive]="item.selected_key_ecshop68"></app-seletebtn>
  </div>
  <div class="border"></div>
  <app-pagetitle *ngIf="data && data.zstc" [myname]="'套餐'" [nobold]="true" [type]="false" [smpadding]="true"></app-pagetitle>
  <div class="tctype" *ngIf="data && data.zstc">
    <app-seletebtn *ngFor="let item of data.zstc.values" (mclick)="seletefn($event)" [graybg]="item.disabled" [name]="item.label" [id]="item.id" [isactive]="item.selected_key_ecshop68"></app-seletebtn>
  </div>
  <div class="border" *ngIf="data && data.attrList.length > 0"></div>
  <app-pagetitle *ngIf="data && data.attrList.length > 0" [myname]="data.attrList[0].name" [nobold]="true" [type]="false" [smpadding]="true"></app-pagetitle>
  <div *ngIf="data && data.attrList.length > 0">
    <app-seletebtn *ngFor="let item of data.attrList[0].values" (mclick)="clickotherfn($event)" [name]="item.label" [id]="item.id" [isactive]="item.selected_key_ecshop68"></app-seletebtn>
  </div>
  <div class="border" style="margin-top: 10px"></div>
  <app-pagetitle [myname]="'购买数量'" [nobold]="true" [type]="false" [smpadding]="true"></app-pagetitle>
  <app-setnum *ngIf="data" [price]="data.activestartprice" [num]="data.persenNum" [maxnum]="data.topData.buymax" (setNum)="setNum($event)"></app-setnum>
</ion-content>

<ion-footer mode="ios">
  <ion-toolbar mode="ios">
    <app-footer *ngIf="data" [type]="1" [allprice]="data.activestartprice" [price]="0" [disabled]="data.disabled" (sub)="submit($event)"></app-footer>
  </ion-toolbar>
</ion-footer>
