.title {
  font-size: var(--ion-title);
  color: var(--ion-color-dark);
  text-align: center;
}
.time {
  font-size: var(--ion-sm-text);
  color: var(--ion-color-medium);
  text-align: center;
}
.mycontent {
  margin-top: 20px;
  font-size: var(--ion-text);
  color: var(--ion-color-dark);
  line-height: 20px;
  text-indent: 2em;
}