
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 0 10px;
  .left {
    width: 48px;
    font-size: var(--ion-title);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 12px;
      margin-left: 5px;
    }
  }
  .right {
    width: 20px;
    img {
      width: 19px;
    }
  }
  .center {
    display: -webkit-box;
    flex: 1;
    margin: 0 15px 0 0;
    height: 27px;
    background-color: #fff;
    -webkit-border-radius: 13.5px;
    -moz-border-radius: 13.5px;
    border-radius: 13.5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 15px;
    overflow: hidden;
    .search-box {
      display: flex;
      flex: 1;
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      color: var(--ion-color-medium);
      font-size: var(--ion-text);
      line-height: 27px;
      span {
        //display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      img {
        width: 17px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}
.footer-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .item {
    width: 45px;
    text-align: center;
    height: 42px;
    font-size: var(--ion-text);
    line-height: 50px;
    color: #fff;
    &.active {
      font-size: var(--ion-title);
      font-weight: 600;
      line-height: 47px;
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 50%;
        left: 25%;
        height: 3px;
        background: #fff;
        border-radius: 1.5px;
      }
    }
  }
}
ion-toolbar {
  --background: linear-gradient(var(--ion-color-secondary, red), var(--ion-color-success, blue));
}
.content-box {
  display: none;
  &.show {
    display: block;
  }
}
.item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  app-yhbox {
    margin-left: 10px;
  }
}

.img-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }
  color: var(--ion-color-medium);
}
.pl {
  margin-top: 10px;
  //display: flex;
  //flex-direction: row;
  //justify-content: flex-start;
  //align-items: center;
  font-size: var(--ion-sm-text);
  flex-wrap: wrap;
  span {
    font-size: var(--ion-text);
    color: var(--ion-color-dark);
  }
}
ion-card {
  ion-card-content {
    //padding-bottom: 0;
  }
  .address {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--ion-color-light);
    padding: 2px 5px;
    border-radius: 5px;
    font-size: var(--ion-sm-text);

    span {
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      //max-width: 100%;
    }
  }
  .address-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left {
      width: 50%;
    }
    .right {
      width: 50%;
      text-align: right;
    }
  }
}

.content-one {
  ion-card {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid var(--ion-color-light);
    ion-card-content {
      padding-top: 0;
    }
  }
  ion-item {
    --border-color: #fff;
  }
  .radius-img {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  .title {
    font-size: var(--ion-title);
    color: var(--ion-color-dark);
  }
}
.content-three {
  ion-card-header {
    padding: 0;
  }
}
.content-four {
  ion-thumbnail {
    --border-radius: 5px;
    --size: 80px;
    width: 85px;
  }
  ion-label {
    white-space: normal;

  }
  .footer {
    margin-top: 7px;
    font-size: var(--ion-sm-text);
    line-height: 20px;
    span {
      color: var(--ion-color-medium);
      &:first-of-type {
        color: var(--ion-color-primary);
        border: 1px solid var(--ion-color-primary);
        border-radius: 3px;
        margin-right: 10px;
      }
    }
  }
}
.person-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .person {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 28px;
      height: 28px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 10px;
    }
    .name-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: var(--ion-text);
        color: var(--ion-color-dark);
        app-yhbox {
          margin-left: 10px;
        }
      }
      .des {
        font-size: var(--ion-sm-text);
        color: var(--ion-color-medium);
      }
    }
  }
  .gz {
    span {
      background: var(--ion-color-linegradient);
      font-size: var(--ion-sm-text);
      height: 20px;
      //width: 50px;
      padding: 0 7px;
      display: block;
      line-height: 20px;
      text-align: center;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      color: #fff;
      &:active {
        background: var(--ion-color-linegradient-active);
      }
    }
  }
}
.yj-title {
  font-weight: 600;
  color: var(--ion-color-dark);
}
.tag-box {
  border: 1px solid var(--ion-color-success);
  color: var(--ion-color-success);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: var(--ion-sm-text);
  padding: 0 1px;
  &.red {
    color: var(--ion-color-danger) !important;
    border-color: var(--ion-color-danger) !important;
  }
}
.gg-box {
  .title {
    font-weight: 600;
  }
  img {
    width: 100%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }
  .tag-box {
    margin-right: 10px;
  }
  .footer {
    font-size: var(--ion-sm-text);
  }
}

.center-top {
  position: relative;
  //margin-top: calc(var(--ion-platform-margin-top) - 5px);
  z-index: 0;
  height: 170px;
  background: url("../../../assets/centerhead.svg") top left no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  .box {
    position: absolute;
    width: 100%;
    top: 26px;
    display: flex;
    height: calc(100% - 61px);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .right {
      flex: 1;
      padding-left: 10px;
    }
    .name {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: var(--ion-big-title);
      margin-bottom: 5px;
      ion-button {
        font-size: var(--ion-sm-text);
        --color: #fff;
        img {
          width: 10px;
        }
      }
    }
    .des {
      font-size: var(--ion-sm-text);
      span {
        background-color: rgba(255,255,255,.3);
        padding: 1px 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
    }
    .footer {
      width: 100%;
      ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          &:first-of-type {
            font-size: var(--ion-title);
          }
          &:last-of-type {
            font-size: var(--ion-sm-text);
          }
        }
      }
    }
  }
}

ion-card-header {
  max-height: 200px;
  overflow: hidden;
}
ion-card {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  .shz, .ytg, .wtg {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 68px;
    z-index: 100;
  }
}
.wtg-end {
  width: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 200;
}