<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{!userId ? '我的发布' : ''}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
       pullingIcon="arrow-dropdown"
       pullingText="Pull to refresh"
       refreshingSpinner="circles"
       refreshingText="更新中...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="center-top" *ngIf="user">
    <div class="box" padding>
      <div class="header">
        <ion-avatar>
          <img [src]="user.headimg  | imgsrc: http.domain">
        </ion-avatar>
        <div class="right">
          <div class="name">
            {{user.user_name}}
            <ion-button color="success" size="small" *ngIf="userId && !isgz" (click)="setgz(userId)">
              关注
              <!--<img src="./assets/centerarrow.svg">-->
            </ion-button>
            <ion-button color="secondary" size="small" *ngIf="userId && isgz" (click)="setgz(userId, 2)">
              取消关注
              <!--<img src="./assets/centerarrow.svg">-->
            </ion-button>
          </div>
          <div class="des">
            <span>LV.{{user.user_rank}}</span>
            {{user.lxdj}}
          </div>
        </div>
      </div>
      <div class="footer">
        <ion-grid>
          <ion-row>
            <ion-col (click)="openUsers(1)">
              <span>{{user.gznum | setnum}}</span><span>关注</span>
            </ion-col>
            <ion-col (click)="openUsers(2)">
              <span>{{user.fsnum | setnum}}</span><span>粉丝</span>
            </ion-col>
            <ion-col>
              <span>{{user.dznum | setnum}}</span><span>获赞</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <div padding>
    <div style="background: #fff">
      <ion-segment mode="ios" (ionChange)="setType()" color="success" [(ngModel)]="pageType">
        <ion-segment-button [value]="1" mode="ios">
          <ion-label>票圈</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="2" mode="ios">
          <ion-label>游记</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="3" mode="ios">
          <ion-label>攻略</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="4" mode="ios">
          <ion-label>招募</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="content-box content-one" [ngClass]="{show: pageType == 1}">
      <div *ngFor="let item of allList[0]">
        <ion-card mode="ios" margin-start="0" margin-end="0" *ngIf="item.opentype == 0">
          <ion-item>
            <ion-avatar slot="start">
              <img [src]="http.headimg | imgsrc: http.zdomain">
            </ion-avatar>
            <ion-label>
              <h2 class="item-title">{{item.user_name}}<app-yhbox [color]="'yellow'" [title]="item.name" [noborder]="true"></app-yhbox></h2>
              <p>{{item.createtime | oldtonow}}</p></ion-label>
            <!--<ion-button  *ngIf="item.userid | isgz: gzlistfn.getList()" (click)="setgz(item.userid)" color="medium" size="small" shape="round" fill="outline" slot="end">+关注</ion-button>-->
          </ion-item>

          <ion-card-content>
            <div class="title" (click)="toPage(item.id)"  *ngIf="item.content && item.content != 'null'">{{item.content}}</div>
            <div padding-top>
              <app-pqimgbox [imglist]="item.thumb[0] ? item.thumb : item.imgarr" [ytimglist]="item.imgarr"></app-pqimgbox>
            </div>
            <!--<img (click)="toPage(1, 1)" class="radius-img" src="https://ionicframework.com/docs/demos/api/card/madison.jpg" alt="">-->
            <div class="address-box">
              <div class="left">
                <div class="address" *ngIf="item.address && item.address != 'null'">
                  <ion-icon name="pin" color="dark"></ion-icon>
                  <span>{{item.address}}</span>
                </div>
              </div>
              <div class="right">
                <ion-button size="small" fill="clear" color="dark">
                  <ion-icon name="heart-empty" *ngIf="item.isdz == 0"></ion-icon>
                  <ion-icon name="heart" color="danger" *ngIf="item.isdz == 1"></ion-icon>
                  {{item.dznum | setnum}}
                </ion-button>
                <ion-button size="small" fill="clear" color="dark" (click)="toPage(item.id)">
                  <ion-icon slot="start" name="text" mode="md"></ion-icon>
                  {{item.plnum | setnum}}
                </ion-button>
              </div>
            </div>
            <div class="img-box" *ngIf="item.dznum > 0">
              <img *ngFor="let src of item.heads" [src]="src | imgsrc: http.zdomain" alt="">
              {{item.dznum | setnum}}人觉得很赞
            </div>
            <div class="pl" (click)="toPage(item.id)" *ngFor="let pl of item.plarr">
              <span>{{pl.user_name}}：</span>{{pl.content | decodeuri}}
            </div>
            <ion-button no-padding size="small" fill="clear" (click)="toPage(item.id)" *ngIf="item.plnum > 2">查看剩余{{(item.plnum - 2) | setnum}}条回复</ion-button>
          </ion-card-content>
        </ion-card>
        <div *ngIf="item.opentype != 0" padding>
          <div class="gg-box" (click)="toPages(item.opentype, item.url)">
            <div class="title">{{item.content}}</div>
            <ion-row>
              <ion-col *ngFor="let src of item.imgarr">
                <img [src]="src | imgsrc: http.zdomain" alt="">
              </ion-col>
            </ion-row>
            <div class="footer">
              <span class="tag-box red">广告</span>
              <span>{{item.author || item.user_name}}</span>
              <!--<span>{{item.plnum}}条评论</span>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box content-three" [ngClass]="{show: pageType == 2}">
      <ion-row *ngFor="let item of allList[1]">
        <ion-col [size]="12" no-padding *ngIf="item.opentype == 0">
          <ion-card mode="ios" margin-start="0" margin-end="0">
            <ion-card-header *ngIf="item.imgarr.length > 0" (click)="toPage(item.id)">
              <img class="radius-img" [src]="item.thumb[0] || item.imgarr[0] | imgsrc: http.zdomain" alt="">
            </ion-card-header>

            <ion-card-content>
              <div class="title yj-title" (click)="toPage(item.id)">{{item.title}}</div>
              <p *ngIf="item.des && item.des != 'null'" (click)="toPage(item.id)">{{item.des}}</p>
              <div class="person-box" margin-top>
                <div class="person" (click)="toPage(item.id)">
                  <img [src]="item.headimg | imgsrc: http.zdomain">
                  <div class="name-box">
                    <div class="name">{{item.user_name}} <app-yhbox [color]="'yellow'" [title]="item.name" [noborder]="true"></app-yhbox></div>
                    <div class="des">{{item.createtime | oldtonow}}</div>
                  </div>
                </div>
                <!--<div class="gz" *ngIf="item.userid | isgz: gzlistfn.getList()" (click)="setgz(item.userid)">-->
                <!--<span>+关注</span>-->
                <!--</div>-->
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <div *ngIf="item.opentype != 0" padding>
          <div class="gg-box" (click)="toPages(item.opentype, item.url)">
            <div class="title">{{item.title}}</div>
            <ion-row>
              <ion-col *ngFor="let src of item.imgarr">
                <img [src]="http.zdomain + src" alt="">
              </ion-col>
            </ion-row>
            <div class="footer">
              <span class="tag-box red">广告</span>
              <span>{{item.author || item.user_name}}</span>
              <!--<span>{{item.plnum}}条评论</span>-->
            </div>
          </div>
        </div>
      </ion-row>
    </div>
    <div class="content-box content-four" [ngClass]="{show: pageType == 3}">
      <div  *ngFor="let item of allList[2]">
        <ion-item (click)="toPage(item.id)" *ngIf="item.opentype == 0">
          <ion-thumbnail slot="end" *ngIf="item.imgarr.length > 0">
            <img class="radius-img" [src]="item.thumb[0] || item.imgarr[0] | imgsrc: http.zdomain " alt="">
          </ion-thumbnail>
          <ion-label>
            {{item.title}}
            <div class="footer">
              <span class="tag-box" [ngStyle]="{display: item.tag && item.tag != 'null' ? '' : 'none'}">{{item.tag}}</span>
              <span>{{item.author || item.user_name}}</span>
              <span>&nbsp;|&nbsp;</span>
              <span>{{item.plnum | setnum}}条评论</span>
            </div>
          </ion-label>
        </ion-item>
        <div *ngIf="item.opentype != 0" padding>
          <div class="gg-box" (click)="toPages(item.opentype, item.url)">
            <div class="title">{{item.title}}</div>
            <ion-row>
              <ion-col *ngFor="let src of item.imgarr">
                <img [src]="http.zdomain + src" alt="">
              </ion-col>
            </ion-row>
            <div class="footer">
              <span class="tag-box red">广告</span>
              <span>{{item.author || item.user_name}}</span>
              <!--<span>{{item.plnum}}条评论</span>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box content-four" [ngClass]="{show: pageType == 4}">
      <div *ngFor="let item of allList[3]">
        <ion-item (click)="toPage(item.id)" *ngIf="item.opentype == 0">
          <ion-thumbnail slot="start" *ngIf="item.imgarr.length > 0">
            <img class="radius-img" [src]="item.thumb[0] || item.imgarr[0] | imgsrc: http.zdomain" alt="">
          </ion-thumbnail>
          <ion-label>
            {{item.title}}
            <div class="footer">
              <span class="tag-box"  [ngStyle]="{display: item.tag && item.tag != 'null' ? '' : 'none'}">{{item.tag}}</span>
              <span>{{item.author || item.user_name}}</span>
              <span>&nbsp;|&nbsp;</span>
              <span>{{item.plnum | setnum}}条评论</span>
            </div>
          </ion-label>
        </ion-item>
        <div *ngIf="item.opentype != 0" padding>
          <div class="gg-box" (click)="toPages(item.opentype, item.url)">
            <div class="title">{{item.title}}</div>
            <ion-row>
              <ion-col *ngFor="let src of item.imgarr">
                <img [src]="http.zdomain + src" alt="">
              </ion-col>
            </ion-row>
            <div class="footer">
              <span class="tag-box red">广告</span>
              <span>{{item.author || item.user_name}}</span>
              <!--<span>{{item.plnum}}条评论</span>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
       loadingSpinner="bubbles"
       loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
