<!--
 * @Author: wjy-mac
 * @Date: 2019-06-06 00:16:42
 * @LastEditors  : wjy-mac
 * @LastEditTime : 2020-01-03 14:06:34
 * @Description: file content
 -->
<ion-list style="margin-bottom: 0;">
  <ion-item (click)="openpage(1)"><ion-icon name="chatbubbles" mode="ios" slot="start"></ion-icon>消息<ion-badge slot="start" slot="end" *ngIf="newsfn.allnum > 0">{{newsfn.allnum}}</ion-badge></ion-item>
  <ion-item (click)="openpage(2)"><ion-icon name="cart" slot="start"></ion-icon>购物车</ion-item>
  <!-- <ion-item (click)="openpage(3)"><ion-icon name="heart-empty" slot="start"></ion-icon>行程收藏</ion-item> -->
  <ion-item (click)="openpage(5)"><ion-icon name="heart-empty" slot="start"></ion-icon>我的收藏</ion-item>
  <ion-item (click)="openpage(4)"><ion-icon name="paw" slot="start"></ion-icon>浏览记录</ion-item>
  <!-- <ion-item (click)="openpage(4)"><ion-icon name="paw" slot="start"></ion-icon>分享</ion-item> -->
  <!-- <ion-item (click)="openpage(5)"><ion-icon name="create" slot="start"></ion-icon>功能反馈</ion-item> -->
</ion-list>
