<!--
 * @Author: wjy-mac
 * @Date: 2019-07-14 22:01:42
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-10-09 21:36:21
 * @Description: file content
 -->
<ion-header [translucent]="true" mode="ios">
  <ion-toolbar mode="ios" [ngClass]="'show-' + toolbaropacity">
    <div class="search-bar">
      <!--<div class="left" (click)="goBack()">-->
        <!--<ion-icon name="arrow-back" mode="ios"></ion-icon>-->
      <!--</div>-->
      <div class="center" (click)="searchpage()">
        <div class="search-box">
          <img src="/assets/fdj.svg"><span>{{keywords || '精彩等你发现'}}</span>
        </div>
      </div>
      <!--<div class="right">-->
      <!--<img src="/assets/ewm.svg" alt="">-->
      <!--</div>-->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content  [scrollEvents]="true" [fullscreen]="true" (ionScroll)="logScrolling($event)">
  <div *ngIf="!bannerList" class="page-top">
    <ion-skeleton-text animated style="height: 260px;"></ion-skeleton-text>
    <ion-row class="nav-skeleton">
      <ion-col><ion-skeleton-text animated style="height: 50px;width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="height: 50px;width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="height: 50px;width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="height: 50px;width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="height: 50px;width: 100%"></ion-skeleton-text></ion-col>
    </ion-row>
    <ion-row class="nav-skeleton">
      <ion-col><ion-skeleton-text animated style="height: 50px;width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="height: 50px;width: 100%"></ion-skeleton-text></ion-col>
    </ion-row>
    <ion-skeleton-text animated style="width: 20%; height: 20px;" ></ion-skeleton-text>
    <ion-row class="nav-skeleton">
      <ion-col><ion-skeleton-text animated style="height: 80px;width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="height: 80px;width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="height: 80px;width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="height: 80px;width: 100%"></ion-skeleton-text></ion-col>
    </ion-row>
    <ion-skeleton-text animated style="height: 200px;margin-top: 10px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 20%; height: 20px;" ></ion-skeleton-text>
    <ion-row class="nav-skeleton">
      <ion-col><ion-skeleton-text animated style="height: 100px;width: 100%"></ion-skeleton-text></ion-col>
      <ion-col><ion-skeleton-text animated style="height: 100px;width: 100%"></ion-skeleton-text></ion-col>
    </ion-row>
  </div>
  <div class="myslides-box" *ngIf="bannerList">
    <ion-slides pager="true" id="myswiper">
      <ion-slide *ngFor="let item of bannerList" (click)="toPage(item.type, item.url)">
        <img src="{{http.domain + item.image}}">
      </ion-slide>
    </ion-slides>
  </div>
  <ion-slides pager="true" [options]="slideOpts" style="margin-top: 10px">
    <ion-slide *ngFor="let item of navList" (click)="toPage(item.type, item.menu_url)">
      <img class="nav-img" src="{{http.domain + item.menu_img}}">
      <div style="margin: 10px 0 15px;">{{item.menu_name}}</div>
    </ion-slide>
  </ion-slides>
  <ion-grid *ngIf="ggtj1">
    <ion-row *ngIf="ggtj1.length == 1">
      <ion-col size="12" *ngFor="let item of ggtj1" (click)="toPage(item.type, item.url)">
        <img src="{{http.domain + item.image}}" alt="">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="ggtj1.length > 1">
      <ion-col size="6" *ngFor="let item of ggtj1" (click)="toPage(item.type, item.url)">
        <img src="{{http.domain + item.image}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding>
    <app-scnewtitle *ngIf="titleList && titleList['title1']" [title]="titleList['title1']"></app-scnewtitle>
    <!-- <app-pagetitle *ngIf="titleList && titleList['title1']" [nopadding]="true" [myname]="titleList['title1']" [type]="true" [des]="titleList['desc1']"></app-pagetitle> -->
  </div>
  <div padding>
    <div class="my-pptj">
      <div class="left" *ngIf="pptj && pptj[0]" (click)="toPage(pptj[0].type, pptj[0].url)">
          <img src="{{http.domain + pptj[0].image}}" alt="">
      </div>
      <div class="right" *ngIf="pptj">
        <div class="top" *ngIf="pptj[1]" (click)="toPage(pptj[1].type, pptj[1].url)">
            <img src="{{http.domain + pptj[1].image}}" alt="">
        </div>
        <div class="footer" *ngIf="pptj[2]" (click)="toPage(pptj[2].type, pptj[2].url)">
            <img src="{{http.domain + pptj[2].image}}" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let item of pptj" (click)="toPage(item.type, item.url)">
        <img src="{{http.domain + item.image}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of ggtj5" (click)="toPage(item.type, item.url)">
        <img src="{{http.domain + item.image}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding>
    <app-scnewtitle *ngIf="xsms && xsms.sort_goods_arr[0].goods.length > 0" [title]="xsms['title']"></app-scnewtitle>
    <!-- <app-pagetitle *ngIf="titleList && titleList['title2']" [nopadding]="true" [myname]="titleList['title2']" [type]="true" [des]="titleList['desc2']"></app-pagetitle> -->
  </div>
  <div padding class="xsms-content">
    <ion-slides [options]="xsmsOptslv" style="margin-top: 10px" *ngIf="xsms && xsms.sort_goods_arr[0].goods.length > 0">
      <ion-slide *ngFor="let item of xsms.sort_goods_arr[0].goods" (click)="toPage(2, item.goods_id)">
        <app-scindextjgoods
          [src]="item.goods_thumb | imgsrc: http.zdomain"
          [name]="item.goods_brief" [nowprice]="item.shop_price"
          [oldPrice]="item.market_price"></app-scindextjgoods>
        <!-- <img src="{{item.goods_thumb | imgsrc: http.zdomain}}">
        <div class="title">{{item.goods_brief}}</div>
        <div class="price">
          <ion-text color="danger">￥{{item.shop_price}}</ion-text>
          <span>￥{{item.market_price}}</span>
        </div> -->
      </ion-slide>
    </ion-slides>
  </div>
  <p class="xsms-more" (click)="toPage(3, xsms.id)">查看更多>></p>
  <!-- <ion-grid class="nopaddingbottom">
    <ion-row class="nopaddingbottom">
      <ion-col size="6" *ngFor="let item of ggtj7" (click)="toPage(item.type, item.url)">
        <img src="{{http.domain + item.image}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="nopaddingtop">
    <ion-row class="nopaddingtop">
      <ion-col size="4" *ngFor="let item of ggtj8" (click)="toPage(item.type, item.url)">
        <img src="{{http.domain + item.image}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <div padding>
      <app-scnewtitle *ngIf="titleList && titleList['title2']" [title]="titleList['title2']"></app-scnewtitle>
      <!-- <app-pagetitle *ngIf="titleList && titleList['title2']" [nopadding]="true" [myname]="titleList['title2']" [type]="true" [des]="titleList['desc2']"></app-pagetitle> -->
    </div>
  <div *ngIf="topgoods" padding>
    <!-- <app-productlist *ngFor="let citem of topgoods" [data]="citem"  (open)="openpage($event)" type="2"></app-productlist> -->
    <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let data of topgoods" (click)="toPage(2, data.goods_id)">
              <app-scindextjgoods
              [src]="data.thumb | imgsrc: http.zdomain"
              [name]="data.short_name" [nowprice]="data.shop_price"
              [type]="2" [shadow]="2"></app-scindextjgoods>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
  <div padding>
    <app-scnewtitle *ngIf="titleList && titleList['title3']" [title]="titleList['title3']"></app-scnewtitle>
    <!-- <app-pagetitle *ngIf="titleList && titleList['title3']" [nopadding]="true" [myname]="titleList['title3']" [type]="true" [des]="titleList['desc3']"></app-pagetitle> -->
  </div>
  <ion-grid class="nopaddingbottom">
    <ion-row class="nopaddingbottom">
      <ion-col *ngFor="let item of ggtj2" (click)="toPage(item.type, item.url)">
        <img src="{{http.domain + item.image}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="nopaddingbottom nopaddingtop">
    <ion-row class="nopaddingbottom nopaddingtop">
      <ion-col size="6" *ngFor="let item of ggtj3" (click)="toPage(item.type, item.url)">
        <img src="{{http.domain + item.image}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="nopaddingtop">
    <ion-row>
      <ion-col size="4" *ngFor="let item of ggtj4" (click)="toPage(item.type, item.url)">
        <img src="{{http.domain + item.image}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding>
    <app-scnewtitle *ngIf="titleList && titleList['title4']" [title]="titleList['title4']"></app-scnewtitle>
    <!-- <app-pagetitle *ngIf="titleList && titleList['title4']" [nopadding]="true" [myname]="titleList['title4']" [type]="true" [des]="titleList['desc4']"></app-pagetitle> -->
  </div>
  <div *ngIf="tjgoods && tjgoods[0]" padding>
    <!-- <app-productlist *ngFor="let citem of tjgoods[0].arr" [data]="citem"  (open)="openpage($event)" type="1"></app-productlist> -->
    <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let data of tjgoods[0].arr" (click)="toPage(2, data.id)">
              <app-scindextjgoods
              [src]="data.thumb | imgsrc: http.zdomain"
              [name]="data.short_name" [nowprice]="data.shop_price"
              [oldPrice]="data.market_price" [type]="2" [shadow]="2"></app-scindextjgoods>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
  <div padding>
    <app-scnewtitle *ngIf="titleList && titleList['title5']" [title]="titleList['title5']"></app-scnewtitle>
    <!-- <app-pagetitle *ngIf="titleList && titleList['title5']" [nopadding]="true" [myname]="titleList['title5']" [type]="true" [des]="titleList['desc5']"></app-pagetitle> -->
  </div>
  <div class="tjzt-list">
    <div class="tjzt-item" *ngFor="let item of tjzt">
      <img [src]="item.topic_img | imgsrc: http.zdomain " alt="">
      <div class="goods-box" padding-start>
          <ion-slides [options]="xsmsOptslv" style="margin-top: 10px" *ngIf="item.sort_goods_arr[0] && item.sort_goods_arr[0].goods.length > 0">
              <ion-slide *ngFor="let data of item.sort_goods_arr[0].goods" (click)="toPage(2, data.goods_id)">
                  <app-scindextjgoods
                  [src]="data.goods_thumb | imgsrc: http.zdomain"
                  [name]="data.goods_brief" [nowprice]="data.shop_price"
                  [oldPrice]="data.market_price"></app-scindextjgoods>
              </ion-slide>
            </ion-slides>
      </div>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of ggtj6" (click)="toPage(item.type, item.url)">
        <img src="{{http.domain + item.image}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding>
    <app-scnewtitle *ngIf="titleList && titleList['title6']" [title]="titleList['title6']"></app-scnewtitle>
    <!-- <app-pagetitle *ngIf="titleList && titleList['title6']" [nopadding]="true" [myname]="titleList['title6']" [type]="true" [des]="titleList['desc6']"></app-pagetitle> -->
  </div>
  <div *ngIf="tjgoods && tjgoods[1]" padding>
    <!-- <app-productlist *ngFor="let citem of tjgoods[1].arr" [data]="citem"  (open)="openpage($event)" type="3"></app-productlist> -->
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let data of tjgoods[1].arr" (click)="toPage(2, data.id)">
            <app-scindextjgoods
            [src]="data.thumb | imgsrc: http.zdomain"
            [name]="data.short_name" [nowprice]="data.shop_price"
            [oldPrice]="data.market_price" [type]="2" [shadow]="2"></app-scindextjgoods>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div padding>
    <app-scnewtitle *ngIf="titleList && titleList['title7']" [title]="titleList['title7']"></app-scnewtitle>
    <!-- <app-pagetitle *ngIf="titleList && titleList['title7']" [nopadding]="true" [myname]="titleList['title7']" [type]="true" [des]="titleList['desc7']"></app-pagetitle> -->
  </div>
  <div padding *ngIf="moreGoods">
    <!-- <app-productlist *ngFor="let item of moreGoods" [data]="item" (open)="openpage($event)"></app-productlist> -->
    <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let data of moreGoods" (click)="toPage(2, data.id)">
              <app-scindextjgoods
              [src]="data.thumb | imgsrc: http.zdomain"
              [name]="data.short_name" [nowprice]="data.shop_price"
              [oldPrice]="data.market_price" [type]="2" [shadow]="2"></app-scindextjgoods>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
       loadingSpinner="crescent"
       loadingText="加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
