// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #0f48e6;
  --ion-color-primary-rgb: 15,72,230;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0d3fca;
  --ion-color-primary-tint: #275ae9;

  --ion-color-secondary: #20afd0;
  --ion-color-secondary-rgb: 32,175,208;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #1c9ab7;
  --ion-color-secondary-tint: #36b7d5;

  --ion-color-tertiary: #999999;
  --ion-color-tertiary-rgb: 153,153,153;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #878787;
  --ion-color-tertiary-tint: #a3a3a3;

  --ion-color-success: #1ac6a4;
  --ion-color-success-rgb: 26,198,164;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #17ae90;
  --ion-color-success-tint: #31ccad;

  --ion-color-warning: #e1c718;
  --ion-color-warning-rgb: 225,199,24;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #c6af15;
  --ion-color-warning-tint: #e4cd2f;

  --ion-color-danger: #ff4a26;
  --ion-color-danger-rgb: 255,74,38;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e04121;
  --ion-color-danger-tint: #ff5c3c;

  --ion-color-dark: #111111;
  --ion-color-dark-rgb: 17,17,17;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #0f0f0f;
  --ion-color-dark-tint: #292929;

  --ion-color-medium: #666666;
  --ion-color-medium-rgb: 102,102,102;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #5a5a5a;
  --ion-color-medium-tint: #757575;

  --ion-color-light: #ebecee;
  --ion-color-light-rgb: 235,236,238;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #cfd0d1;
  --ion-color-light-tint: #edeef0;

  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #111111;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #f1f1f1;

  --ion-gray-background-color: #f3f3f3;
  --ion-gray-background-color-rgb: 243,243,243;

  --ion-icon-big: 30px;
  --ion-statusbar-left: 24px;
  --ion-big-title: 18px;
  --ion-title: 15px;
  --ion-text: 13px;
  --ion-sm-text: 12px;
  --ion-tab-sm-text: 9px;

  --ion-android-padding-top: 28px;
  //--ion-ios-padding-top: 28px; // 分类在真机下无效
  --ion-platform-margin-top: -72px;
  --ion-platform-margin-height: 72px;
  //--ion-toolbar-background: linear-gradient(var(--ion-color-secondary, red), var(--ion-color-success, blue));
  //--ion-statusbar-padding: 48px;
  --ion-color-linegradient: linear-gradient(var(--ion-color-secondary, red), var(--ion-color-success, blue));
  --ion-color-linegradientback: linear-gradient(var(--ion-color-success, blue), var(--ion-color-secondary, red));
  --ion-color-linegradient-active: linear-gradient(var(--ion-color-secondary-tint, red), var(--ion-color-success-tint, blue));
}

ion-modal.attrModal {
  --height:70%;
  align-items: flex-end;
}
ion-popover.payboxcontent {
  .popover-content {
    width: 76%;
  }
}
.header-ios ion-toolbar:last-child {
  --border-width: 0;
}
  //.android {
//  // 沉浸式状态栏，设置header留出状态栏的位置
//  //ion-header {
//  //  //padding-top:var($cordova-md-statusbar-padding, 0) !important;
//  //  padding-top: var(--ion-android-padding-top) !important;
//  //  //background-color: color($colors, head-color);
//  //}
//  ion-header {
//    ion-toolbar {
//      padding-top: var(--ion-android-padding-top) !important;
//      background-color: red;
//    }
//    //padding-top: 30px;
//    //background-color: color($colors, head-color);
//  }
//}
//.ios {
//  // 沉浸式状态栏，设置header留出状态栏的位置
//  //ion-header {
//  //  padding-top: var(--ion-ios-padding-top) !important;
//  //  background-color: red;
//  //  //padding-top: 28px !important;
//  //  //padding-top: 40px;
//  //  //background-color: color($colors, head-color);
//  //}
//  ion-header {
//    ion-toolbar {
//      padding-top: var(--ion-ios-padding-top) !important;
//      background-color: red;
//    }
//    //padding-top: 30px;
//    //background-color: color($colors, head-color);
//  }
//}
ion-header {
  ion-toolbar {
    --background: linear-gradient(var(--ion-color-secondary, red), var(--ion-color-success, blue));
    padding-top: var(--ion-android-padding-top) !important;
    ion-title {
      --color: #fff;
    }
    ion-buttons {
      ion-button {
        color: #fff;
      }
    }
  }
  //padding-top: 30px;
  //background-color: color($colors, head-color);
}
