<!--
 * @Author: wjy-mac
 * @Date: 2019-10-22 11:51:17
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-10-22 20:19:29
 * @Description: 售后列表页
 -->
<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>退换/售后</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-nomore *ngIf="nolist"></app-nomore>
  <ion-list *ngFor="let item of list">
    <ion-item>
      <div class="item-content">
        <div class="head">
          <span>订单:{{item.order_sn}}</span>
          <span>{{item.order_time}}</span>
        </div>
        <div class="name" *ngFor="let goods of item['goods_list']">{{goods.goods_name}}</div>
        <div class="footer"><ion-text color="success"><span>{{item.status_back}}</span></ion-text><ion-text color="danger"><span>{{item.refund_money_1}}</span></ion-text></div>
      </div>
    </ion-item>
    <ion-item>
      <ion-button fill="outline" color="danger" *ngIf="item.status_back_1 < 6 && item.status_back_1 != 3 && item.status_refund != 1" (click)="cancle(item)">取消</ion-button>
      <ion-button fill="outline" color="success" (click)="openContent(item.back_id)">查看详情</ion-button>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
