<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>选择目的地</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-pagetitle [myname]="'GPS定位'" [smpadding]="true"></app-pagetitle>
  <div class="btn-box">
    <app-seletebtn [name]="'成都'" (mclick)="seleteAddress($event)" [graybg]="true" [isactive]="isactive == '成都'"></app-seletebtn>
  </div>
  <div class="line"></div>
  <app-pagetitle [myname]="'最近浏览'" [smpadding]="true"></app-pagetitle>
  <div class="btn-box">
    <app-seletebtn [name]="'贵阳'" (mclick)="seleteAddress($event)" [isactive]="isactive == '贵阳'" [graybg]="true"></app-seletebtn>
    <app-seletebtn [name]="'吉林'" (mclick)="seleteAddress($event)" [isactive]="isactive == '吉林'" [graybg]="true"></app-seletebtn>
    <app-seletebtn [name]="'新疆'" (mclick)="seleteAddress($event)" [isactive]="isactive == '新疆'" [graybg]="true"></app-seletebtn>
  </div>
  <div class="line"></div>
  <app-pagetitle [myname]="'其他推荐'" [smpadding]="true"></app-pagetitle>
  <div class="btn-box">
    <app-seletebtn [name]="'北京'" (mclick)="seleteAddress($event)" [isactive]="isactive == '北京'" [graybg]="true"></app-seletebtn>
    <app-seletebtn [name]="'广东'" (mclick)="seleteAddress($event)" [isactive]="isactive == '广东'" [graybg]="true"></app-seletebtn>
    <app-seletebtn [name]="'河北'" (mclick)="seleteAddress($event)" [isactive]="isactive == '河北'" [graybg]="true"></app-seletebtn>
    <app-seletebtn [name]="'苏州'" (mclick)="seleteAddress($event)" [isactive]="isactive == '苏州'" [graybg]="true"></app-seletebtn>
    <app-seletebtn [name]="'山西'" (mclick)="seleteAddress($event)" [isactive]="isactive == '山西'" [graybg]="true"></app-seletebtn>
  </div>
</ion-content>
