<!--
 * @Author: wjy-mac
 * @Date: 2019-08-03 10:37:34
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-11-21 00:19:15
 * @Description: file content
 -->

<ion-content>
  <div class="my-content">
    <div class="login-top">
      <div class="top-back">
        <ion-button fill="clear" (click)="backButton()" *ngIf="pageType != 1"><ion-icon name="arrow-back"></ion-icon></ion-button>
      </div>
      <div class="title-box">
        <div class="title">旅行家</div>
        <p>专注户外旅行，领略自然之美</p>
      </div>
    </div>

    <div class="form-center">
      <ion-input placeholder="请输入手机号" type="number" [(ngModel)]="formData.tel" required #name="ngModel"></ion-input>
      <div class="my-input" *ngIf="pageType == 2 || pageType == 3 || pageType == 4">
        <input type="number" placeholder="请输入验证码" [(ngModel)]="formData.yzm" #yzm="ngModel" required>
        <button float-right [disabled]="isGetyzm || !formData.tel || formData.tel.toString().length != 11" [ngClass]="{noclick: !formData.tel || formData.tel.toString().length != 11}" (click)="getYzm()">{{yzmText}}</button>
      </div>
      <ion-input *ngIf="pageType != 3" [placeholder]="pageType == 1? '请输入密码' : '请输入新密码'" type="password" minlength="6" [(ngModel)]="formData.pwd" #pwd="ngModel" required></ion-input>
      <app-mybutton [isdisabled]="isLoading || name.invalid || (pageType !== 3 && (!formData.pwd || formData.pwd && formData.pwd.length < 6)) || (pageType !== 1 && (!formData.yzm || formData.yzm && formData.yzm.toString().length < 6))" [bname]="pageType === 2 ? '同意协议并注册': pageType == 4 ? '提交':'登录'" minlength="6" [isblock]="true" (subClick)="sub()"></app-mybutton>
      <ion-grid *ngIf="pageType == 1 || pageType == 3">
        <ion-row>
          <ion-col>
            <a (click)="goSetpwd()" *ngIf="pageType != 3">
              <!-- <img src="./assets/login2.svg" alt=""> -->
              忘记密码
            </a>
          </ion-col>
          <ion-col class="ion-text-right">
            <a (click)="toggleType(3)" *ngIf="pageType == 1">验证码登录</a>
            <a (click)="toggleType(1)" *ngIf="pageType == 3">密码登录</a>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-progress-bar *ngIf="isLoading" type="indeterminate" reversed="true"></ion-progress-bar>
    </div>
    <div class="login-footer" *ngIf="pageType == 1 || pageType == 3">
      <ion-button class="zhuce" fill="clear" expand="block" (click)="toggleType(2)">现在去注册</ion-button>
      <div class="or-line">
        <img src="./assets/login3.svg" alt="">
      </div>
      <ion-button class="sbgg" fill="clear" expand="block">每个人都是自己人生的旅行家</ion-button>
    </div>
    <div class="login-footer" *ngIf="pageType == 2">
      <p>已阅读并同意以下协议</p>
      <div><span>《旅行家平台服务协议》</span><span>《隐私权政策》</span><span>《法律声明》</span></div>
    </div>
    <div class="login-footer" *ngIf="pageType !== 1 && pageType !== 3 && pageType !== 2"></div>
  </div>
</ion-content>
