<!--
 * @Author: wjy-mac
 * @Date: 2019-07-24 23:01:08
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-12-05 19:16:15
 * @Description: 视频播放插件
 -->
<vg-player>
  <vg-overlay-play></vg-overlay-play>
  <vg-buffering></vg-buffering>
  <!--<vg-controls [vgAutohide]="true" [vgAutohideTime]="5">-->
  <!--<vg-play-pause></vg-play-pause>-->
  <!--<vg-time-display [vgProperty]="'current'"></vg-time-display>-->
  <!--<vg-scrub-bar>-->
  <!--<vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>-->
  <!--<vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>-->
  <!--</vg-scrub-bar>-->
  <!--<vg-time-display [vgProperty]="'total'"></vg-time-display>-->
  <!--<vg-fullscreen></vg-fullscreen>-->
  <!--</vg-controls>-->
  <video #myMedia
  [vgHls]="'http://static.videogular.com/assets/videos/videogular.m3u8'"
  [vgHlsHeaders]="headers"
  (onGetBitrates)="hlsBitrates = $event"
  id="my-video"
  type="video/mp4"
  controls>
  </video>
</vg-player>
{{src}}
<div class="close" (click)="close()">关闭</div>
