<!--
 * @Author: wjy-mac
 * @Date: 2019-06-19 17:38:54
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-11-18 19:03:55
 * @Description: file content
 -->
<div class="fbselete">
  <div class="title">分享我的旅行</div>
  <div class="box-two" style="margin-bottom: -10px">
    <div class="item" (click)="createyj(2)">
      <img src="../../../assets/gl.svg" alt="">
      <div class="name">攻略</div>
      <div class="des">经典玩法</div>
    </div>
  </div>
  <div class="box-one">
    <div class="item" (click)="createpq()">
      <img src="../../../assets/pq.svg" alt="">
      <div class="name">票圈</div>
      <div class="des">此刻心情</div>
    </div>
    <div class="item" (click)="createyj(1)">
      <img src="../../../assets/yj.svg" alt="">
      <div class="name">游记</div>
      <div class="des">旅行故事</div>
    </div>
  </div>
  <div class="box-two" style="margin-top: -10px">
    <div class="item" (click)="createyj(3)">
      <img src="../../../assets/zm.svg" alt="">
      <div class="name">召集</div>
      <div class="des">活动召集</div>
    </div>
  </div>
  <div class="footer">
    <ion-button fill="clear" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>
</div>
