<!--
 * @Author: wjy-mac
 * @Date: 2019-11-01 15:49:39
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-11-01 17:45:46
 * @Description: 发布评论
 -->
<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>发布评论</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="my-list">
    <div class="my-item">
      <div class="left">
        描述
      </div>
      <div class="right">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
      </div>
      <div class="des">
        4分,满意
      </div>
    </div>
    <div class="my-item">
      <div class="left">
        服务
      </div>
      <div class="right">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
      </div>
      <div class="des">
        4分,满意
      </div>
    </div>
    <div class="my-item">
      <div class="left">
        发货
      </div>
      <div class="right">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
      </div>
      <div class="des">
        4分,满意
      </div>
    </div>
    <div class="my-item">
      <div class="left">
        物流
      </div>
      <div class="right">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
        <img src="../../../assets/icon/branch.png" alt="">
      </div>
      <div class="des">
        4分,满意
      </div>
    </div>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="floating">自定义标签</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">评价内容</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
