<!--
 * @Author: wjy-mac
 * @Date: 2019-11-01 15:49:39
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-11-05 01:15:16
 * @Description: 发布评论
 -->
<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>发布评论</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sub()">
        发布
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="my-list">
    <div class="my-item" *ngFor="let item of pflist; let key = index">
      <div class="top">
        <div class="left">
          {{item.name}}
        </div>
        <div class="right">
          <img *ngFor="let data of imglist; let i = index" 
          [src]="item.val >= i + 1 ? '../../../assets/icon/branch_active.png' : '../../../assets/icon/branch.png'"
          (click)="setPf(key, i + 1)"
          alt="">
        </div>
      </div>
      <div class="des">
        <span *ngIf="item.val == 5">5分,非常满意</span>
        <span *ngIf="item.val == 4">4分,满意</span>
        <span *ngIf="item.val == 3">3分,一般</span>
        <span *ngIf="item.val == 2">2分,不满意</span>
        <span *ngIf="item.val == 1">1分,非常不满意</span>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="goods_list">
    <div class="pl-item" *ngFor="let item of goodsObjarr">
      <div class="goods_name"><p>{{item.goodsName}}</p></div>
      <div class="my-list">
        <div class="my-item">
          <div class="top">
            <div class="left">
              描述
            </div>
            <div class="right">
              <img *ngFor="let data of imglist; let i = index" 
              [src]="item.comment_rank >= i + 1 ? '../../../assets/icon/branch_active.png' : '../../../assets/icon/branch.png'"
              (click)="setitemPf(item, i + 1)"
              alt="">
            </div>
          </div>
          <div class="des">
            <span *ngIf="item.comment_rank == 5">5分,非常满意</span>
            <span *ngIf="item.comment_rank == 4">4分,满意</span>
            <span *ngIf="item.comment_rank == 3">3分,一般</span>
            <span *ngIf="item.comment_rank == 2">2分,不满意</span>
            <span *ngIf="item.comment_rank == 1">1分,非常不满意</span>
          </div>
        </div>
      </div>
      <div class="hasbq">
        <ion-chip *ngFor="let tag of item.tags; let i = index" [color]="tag.active ? 'success' : ''" (click)="setChangebq(item, i)">
          <ion-label>{{tag.tag_name}}</ion-label>
        </ion-chip>
      </div>
      <div class="my-row" [ngClass]="{noTop: item.tags.length === 0}">
          <div class="my-item" *ngFor="let data of item['tags_zi']; let i = index" (click)="removeBq(i, item)">
            <ion-chip color="success">
              <ion-label>{{data}}</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
          </div>
        </div>
      <div class="addbq-box">
        <div class="left">
          <ion-item>
            <ion-label>标签</ion-label>
            <ion-input [(ngModel)]="item.newbq" placeholder="请输入自定义标签名称"></ion-input>
          </ion-item>
        </div>
        <div class="right" *ngIf="item.newbq">
          <ion-button color="success" size="small" (click)="addBq(item)">确定</ion-button>
        </div>
      </div>
      <ion-item>
        <ion-textarea [(ngModel)]="item.content" placeholder="说说你的看法吧"></ion-textarea>
      </ion-item>
      <ion-row>
        <ion-col size="3">
          <div class="img-box">
            <img src="../../../assets/add2.png" alt="">
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="nmbox">
    <ion-toggle color="success" size="small" [(ngModel)]="isNm"></ion-toggle><ion-text>匿名</ion-text>
  </div>
</ion-content>
