.my-list {
  .my-item {
    margin-bottom: 10px;
    .top {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .left {
        width: 40px;
        font-size: var(--ion-text);
      }
      .right {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 20px;
          margin-right: 5px;
        }
      }
    }
    .des {
      font-size: var(--ion-sm-text);
      color:  var(--ion-color-medium);
      margin-top: 5px;
    }
  }
}
.addbq-box {
  font-size: var(--ion-text);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .left {
    flex: 1;
  }
  .right {
    width: auto;
  }
}
.my-row {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  &.noTop {
    padding-top: 0;
  }
}
.goods_list {
  margin-bottom: 10px;
  .pl-item {
    border-bottom: 10px solid var(--ion-gray-background-color);
  }
  .goods_name {
    font-size: var(--ion-title);
    p {
      margin-bottom: 5px;
    }
  }
}
.hasbq {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.nmbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  ion-text {
    margin-left: 10px;
  }
}
.line {
  height: 10px;
  background-color: var(--ion-gray-background-color);
}
.img-box {
  width: 100%;
  padding-top: 100%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.hidden {
  display: none;
}
.loadEffect{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .3);
}
.loadEffect span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--ion-color-success);
  position: absolute;
  -webkit-animation: load 1.04s ease infinite;
}
.loadEffect span:nth-child(1){
  left: 0;
  top: 50%;
  margin-top:-10px;
  -webkit-animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
  left: 14px;
  top: 14px;
  -webkit-animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
  left: 50%;
  top: 0;
  margin-left: -10px;
  -webkit-animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
  top: 14px;
  right:14px;
  -webkit-animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
  right: 0;
  top: 50%;
  margin-top:-10px;
  -webkit-animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
  right: 14px;
  bottom:14px;
  -webkit-animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  -webkit-animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
  bottom: 14px;
  left: 14px;
  -webkit-animation-delay:1.04s;
}
@-webkit-keyframes load{
  0%{
      -webkit-transform: scale(1.2);
      opacity: 1;
  }
  100%{
      -webkit-transform: scale(.3);
      opacity: 0.5;
  }
}