<!--
 * @Author: wjy-mac
 * @Date: 2019-03-21 22:52:42
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-12-12 16:46:32
 * @Description: file content
 -->
<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>店铺印象</ion-title>
    <ion-buttons slot="start" color="light">
      <ion-button color="light" (click)="goBack()">返回</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="top">
    <ion-item>
      <ion-thumbnail slot="start">
        <img *ngIf="supplier" [src]="supplier.shop_logo  | imgsrc: http.zdomain">
      </ion-thumbnail>
      <ion-label>
        <h2 *ngIf="supplier">{{supplier.shopname}}</h2>
        <p><span><img class="kb" src="./assets/kb.svg" alt="">认证商家</span><span><img src="./assets/dz.svg" alt="">金牌口碑</span></p>
      </ion-label>
      <app-mybutton [bname]="'收藏'" *ngIf="supplier ? !supplier.is_guanzhu : true"  slot="end" (click)="sc()"></app-mybutton>
      <app-mybutton [bname]="'取消收藏'" *ngIf="supplier ? supplier.is_guanzhu : true"  slot="end" (click)="qxsc()"></app-mybutton>
    </ion-item>
  </ion-list>
  <div class="line"></div>
  <ion-list>
    <ion-item>
      <ion-label class="flexlabel">
        <div>用户点评</div>
        <h2>99%满意</h2>
        <p>高于同行99%</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-label class="flexlabel">
        <div>店铺标签</div>
        <h2>认证商家</h2>
        <h2 *ngIf="supplier">{{supplier.userrank}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="line"></div>
  <ion-list class="list-end">
    <!-- <ion-item>
      <ion-label>在线咨询</ion-label>
      <p slot="end">凌妹子<img src="./assets/xb.svg" alt=""></p>
    </ion-item> -->
    <ion-item>
      <ion-label>资质</ion-label>
      <p slot="end"><img src="./assets/xb.svg" alt="">已签署消保协议</p>
    </ion-item>
    <ion-item>
      <ion-label>企业资质</ion-label>
      <p slot="end"><img src="./assets/xb.svg" alt="">营业执照</p>
    </ion-item>
    <ion-item>
      <ion-label>开店时间</ion-label>
      <p slot="end" *ngIf="supplier">{{supplier.createtime}}</p>
    </ion-item>
  </ion-list>
</ion-content>
