<!--
 * @Author: wjy-home
 * @Date: 2019-08-03 14:52:31
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-12-14 19:14:25
 * @Description: file content
 -->
<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--<ion-title>账单</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="top" *ngIf="data">
    <img [src]="data.shop_logo | imgsrc: http.zdomain" alt="">
    <h2>{{data.shop_name}}</h2>
    <p no-margin *ngIf="appver">Version&nbsp;&nbsp;{{appver}}</p>
  </div>
  <ion-list>
    <ion-item button detial *ngIf="isios" (click)="openStore()">去评分</ion-item>
    <!-- <ion-item button (click)="updateapp()">版本更新</ion-item> -->
  </ion-list>
  <div class="footer">
    <ion-text *ngIf="data" color="medium">{{data.shop_name}}公司&nbsp;&nbsp;版本所有</ion-text>
    <br>
    <ion-text color="medium">Copyright&nbsp;&nbsp;©2019-2029&nbsp;&nbsp;lvxingjia.All&nbsp;&nbsp;Rights&nbsp;&nbsp;Reserved</ion-text>
  </div>
</ion-content>

