<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <!--<img src="./assets/sjtop.png" alt="">-->
    <app-sj-top (close)="goBack()" (topage)="toPage()"
                [active]="isactive" [supplier]="supplier"
                (toggle)="setNav($event)" (setGz)="setGz()"></app-sj-top>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="isindex" *ngIf="isactive == 1">
    <ion-slides pager="true" *ngIf="supplier">
      <ion-slide *ngFor="let item of supplier.banner" (click)="open(item.url)">
        <img class="dplogo" [src]="http.zdomain + item.src">
      </ion-slide>
    </ion-slides>
    <div class="content" padding *ngIf="supplier">
      <app-pagetitle [myname]="'店铺推荐'" [type]="1"></app-pagetitle>
      <app-productlist  *ngFor="let item of supplier.best_goods" [type]="1" [data]="item" (open)="goodsContent($event)"></app-productlist>
      <ion-virtual-scroll [items]="tjlist">
        <div *virtualItem="let item">
          <app-productlist  *ngFor="let item of tjlist" [data]="item" (open)="goodsContent($event)" [imgtype]="1"></app-productlist>
        </div>
      </ion-virtual-scroll>
    </div>
  </div>
  <div class="isindex" *ngIf="isactive == 2">
    <div class="content" padding>
      <ion-grid>
        <ion-row>
          <ion-col [ngClass]="{active: isnavactive == 1}" (click)="selectepx(1)">综合</ion-col>
          <ion-col [ngClass]="{active: isnavactive == 2}" (click)="selectepx(2)">销量</ion-col>
          <ion-col [ngClass]="{active: isnavactive == 3}" (click)="selectepx(3)">价格</ion-col>
          <ion-col [ngClass]="{active: isnavactive == 4}" (click)="selectepx(4)">新品</ion-col>
        </ion-row>
      </ion-grid>
      <app-productlist *ngFor="let item of tjlist" [data]="item"></app-productlist>
    </div>
  </div>
</ion-content>

<ion-footer mode="ios">
  <ion-toolbar mode="ios">
    <ion-row>
      <ion-col class="border">
        <ion-button *ngIf="supplier" [routerLink]="['/sj-productnav', supplier.suppid]" expand="full">商品分类</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full">
          <ion-icon name="happy" color="primary"></ion-icon>
          联系客服
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
