.tj-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--ion-color-light);
  padding-bottom: 15px;
  .box {
    width: 50%;
    padding-left: 15px;
    font-size: var(--ion-title);
    color: var(--ion-color-dark);
    margin-top: 20px;
    img {
      width: 18px;
      &.tj {
        width: 15px;
      }
    }
    &:nth-of-type(odd) {
      border-right: 1px solid var(--ion-color-light);
      padding-right:15px;
    }

  }
}
.title {
  font-size: var(--ion-sm-text);
  color: var(--ion-color-medium);
  padding: 15px 15px 0;
}
ion-toolbar {
  --background: #fff;
}