.btn-box {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: 1px solid var(--ion-color-light);
  border-radius: 5px;
  font-size: var(--ion-text);
  padding: 10px 15px;
  overflow: hidden;
  display: inline-block;
  &.small {
    padding: 5px 10px;
  }
  .isblock {
    display: block;
  }
  &.graybg {
    background-color: var(--ion-color-light);
  }
  &.active {
    background: rgba(var(--ion-color-success-rgb), 0.3);
    border-color: var(--ion-color-secondary);
  }
  .title {
    color: var(--ion-color-dark);
  }
  .price {
    font-weight: 600;
  }
  $width: 30px;
  .bg {
    position: absolute;
    width: $width;
    height: $width;
    -webkit-border-radius: $width / 2;
    border-radius: $width / 2;
    background-color: var(--ion-color-secondary);
    display: block;
    bottom: - $width/2;
    right: - $width / 2;
  }
  img {
    position: absolute;
    bottom: 2px;
    right: 0px;
    width: 10px;
  }
  .iscenter {
    text-align: center;
  }
}
