<!--
 * @Author: wjy-mac
 * @Date: 2019-07-29 22:26:10
 * @LastEditors: wjy-mac
 * @LastEditTime: 2019-11-28 17:36:53
 * @Description: 行程列表商品模块
 -->
<div class="my-content-bg" *ngFor="let item of list; let i = index">
  <ion-list inset="true" line="none">
    <div class="shopname-box">
      <div class="left">
        <img src="../../../assets/icon/dianpu.png" alt=""><h3 class="supper_name" (click)="gotoPage(7, item.supplier_id)">{{item.shopname}}</h3>
      </div>
      <div class="right">{{item.order_status | xcstatus: 1}}</div>
    </div>
    <ion-item *ngFor="let data of item.goods_list" lines="none" (click)="gotoPage(11, item.order_sn, item.comment_s)">
      <ion-thumbnail slot="start">
        <img [src]="data.goods_thumb | imgsrc: http.zdomain">
      </ion-thumbnail>
      <ion-label>
        <h3 class="goods_title">{{data.goods_name | namesubstr: 25}}</h3>
        <p class="goods_title" *ngFor="let item of data.goods_attr | xclistattr">{{item}}</p>
      </ion-label>
      <div slot="end" class="end-price">
        <span>{{data.formated_goods_price}}</span>
        <span>×{{data.goods_number}}</span>
      </div>
    </ion-item> 
    <div class="order_des">
      <ion-button *ngIf="item.shipping_status == 2 && item.comment_s != 0" fill="outline" size="small" color="danger" (click)="goComment(item.order_id)">评价</ion-button>
      <span *ngIf="!(item.shipping_status == 2 && item.comment_s != 0)"></span>
      <span>共{{item.count}}人行程&nbsp;&nbsp;¥:{{item.total_fee}}</span>
    </div>
  </ion-list>
</div>