.form-center {
  img {
    width: 17px;
  }
}
.my-input {
  background: rgba(255,255,255,.2);
  height:41px;
  border-radius: 20px;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  // margin-bottom: 15px;
  input {
    height: 41px;
    // padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    border: none;
    color: var(--ion-color-dark);
    outline: none;
    width: calc(100% - 100px);
    margin-left: 0;
    padding-left: 0;
    &::-webkit-input-placeholder {
      color: #7d7d7d;
    }
  }
  button {
    font-size: var(--ion-text);
    height: 41px;
    background: none;
    border: none;
    outline: none;
    color: var(--ion-color-secondary);
    width: 100px;
    &:active {
      color: var(--ion-color-secondary-shade);
    }
  }
}
.noclick {
  color: rgba(0,0,0,.3) !important;
}