.ts-box {
  height: 40px;
  line-height: 40px;
  background-color: var(--ion-color-light);
  text-align: center;
  font-size: var(--ion-sm-text);
  &:active {
    background-color: var(--ion-color-light-tint);
  }
}
.end-price {
  font-size: 12px;
  color: var(--ion-color-medium);
  span {
    display: block;
    text-align: right;
  }
}
.goods_title {
  white-space: normal;
  font-size: var(--ion-sm-text);
}
.myselect {
  border: 1px solid var(--ion-color-light);
  background: none;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: var(--ion-sm-text);
  padding: 5px;
  outline:none;
}
ion-toolbar {
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}
.ts-content {
  width: 100%;
  overflow: hidden;
  .zjts-box {
    text-align: right;
    margin-left: -30px;
    &>ul {
      margin-left: -10px;
    }
    .order_total_li {
      list-style: none;
    }
  }
}

ion-content {
  --background: var(--ion-gray-background-color);
  ion-list {
    ion-item {
      --border-width: 0;
    }
  }
  .list-ios.list-inset {
    border-radius: 7px;
  }
  .end.red {
    color: var(--ion-color-danger);
  }
}
.xxyhqbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .left {
    flex: 1;
    height: 2.1em;
    input {
      width: 100%;
      font-size: var(--ion-sm-text);
      margin-top: 4px;
      margin-bottom: 4px;
      padding: 4px 10px 6px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid var(--ion-color-light);
    }
  }
}

.zftype {
  ion-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  img {
    width: 25px;
    margin-right: 10px;
  }
}